[2013-07-12 15:07] bf4 opened #40 "License missing from gemspec"
Some companies [will only use gems with a certain license](https://github.com/rubygems/rubygems.org/issues/363#issuecomment-5079786).
The canonical and easy way to check is [via the gemspec](http://docs.rubygems.org/read/chapter/20#license)
via e.g.

[code]

There is even a [License Finder](https://github.com/pivotal/LicenseFinder) to help companies ensure all gems they use
meet their licensing ne

[2013-07-23 18:49] codenamev opened #41 "Skip lgtm not functional"
the `deliver -f` or `deliver --skip-lgtm` is no longer functional

[2013-09-20 14:38] #40 closed, assigned to nobody

[2013-09-28 04:48] markkevans opened #42 "Github Enterprise Compatibility"
I couldn't find a way to use this against a github enterprise instance as it always attempts to connect to github.com / api.github.com

This is possible according to the documentation at http://peter-murach.github.io/github/

[code]

[2013-10-01 14:27] nhance opened #43 "Print all git commands"
Let's be verbose. We want to print every command right before we run it so there are no surprises, and so we never forget the right way to do things.

[2013-10-01 14:28] nhance opened #44 "Syntax for `review`"
I'd like to assign a title/message from the command line for `review`.

Here's the syntax that seems immediately intuitive:

`git reflow review -t "This is the title" -m "Here's a message"`

[2013-10-16 12:40] #44 closed, assigned to nobody

[2013-10-16 12:40] #43 closed, assigned to nobody

[2013-10-16 12:42] #41 closed, assigned to nobody

[2013-10-25 13:29] eaigner opened #47 "Setup fails"
Don't know if it's a Ruby 2 / OSX Mavericks issue, but the setup fails with

[code]

[2013-10-30 12:23] nhance opened #48 "`git reflow status` does not open in browser when answering 'y'"
[code]

[2013-10-31 20:59] eaigner opened #49 "Commit editor prints last commit line twice on top on deliver"
When running a `git reflow deliver` and the commit editor pops up, the first 2 lines are the same.

[2013-11-01 20:30] #47 closed, assigned to nobody

[2013-11-01 20:30] #48 closed, assigned to nobody

[2013-11-01 20:31] #49 closed, assigned to nobody

[2013-11-02 21:25] eaigner opened #51 "Command to edit default commit format"
During the setup there was no option to specify a default commit format. I apologise in advance if I overlooked such a feature.

In my case I want to remove all the squashed commit information from the default commit text, since this info is not relevant in any case and just takes up space.

[2013-11-12 11:34] marten opened #52 "Why is squashed merging your preferred workflow?"
I'm wondering why you chose to adopt this workflow. Do you really want to get rid of the individual commits, or do you only like the simplified history? We're looking at using this tool because it closely matches our current workflow, with the biggest difference being the squashing.

It's probably a lack of understanding on my part, but I'm wondering what advantage I'm missing, since the cleaner h

[2013-11-13 21:49] #52 closed, assigned to nobody

[2013-11-18 15:53] codenamev opened #53 "Introduce the idea of "Workflows" to customize steps"
Workflows
===

Premise: Define your workflow in a config file that would plug-in to git-reflow.  Like the way oh-my-zsh works with plugins combined with the idea of how Capistrano handles callbacks.

So you could define a file that has a bunch of before/after calls that can target the core workflow (the basic reflow commands) as well as target other workflows.

Core Workflow:
---

[code]

Customiz

[2013-11-18 15:56] marten opened #54 "Store OAuth token somewhere else?"
I have my dotfiles in a public git repository. `~/.git/config` is one of those files. In the current way of storing the OAuth token, I can't add the config line to the gitignore. What is the best way to make sure I never commit this?

I'd be happy to add something that can store the token in a different file, and maybe then put the file location in the git config? Is this something you'd merge in?

[2013-12-03 19:39] marten opened #57 "Setup does not work when 2-factor authentication is enabled"
Running setup when 2-factor is enabled simply tells you "Invalid username or password". If you dig deeper and comment out the rescue statement, you see the actual error which is:

[code]

Github's guide [here](http://developer.github.com/v3/auth/#working-with-two-factor-authentication) has some pointers on how to deal with this.

[2014-03-05 12:33] ivdma opened #59 "f has already been specified as a switch in the command deliver (ArgumentError)"
Just installed git reflow with

    gem install reflow

on OS X Mavericks with rbenv 0.4.0 and Ruby 2.1.0-p0 (also tried with 2.0.0-p353). I keep getting the following error:

    ~/code/project » git reflow
    /usr/local/opt/rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/gli-2.8.1/lib/gli/dsl.rb:203:in `verify_unused_in_option': f has already been specified as a switch in the command deliver

[2014-03-05 15:20] steipete opened #60 "Getting a 'error: POST https://api.github.com/authorizations: 422' when entering correct user/password"
I'm not using 2-factor auth.

After getting frustrated of all the 'Invalid username or password"' and some attempts of changing my password, I commented out rescue StandardError => e in git_reflow.rb to see what's wrong:

[code]

My credentials must match, when I enter them wrongly I get

[code]

GitHub says "Sending invalid fields will result in a 422 Unprocessable Entity response.".
What am I do

[2014-03-05 18:04] #60 closed, assigned to nobody

[2014-10-01 19:42] nhance opened #66 "Always have reflow start create a branch from master"
this way you can do reflow start from anywhere and know that you're starting with fresh code from the latest master on origin

[2014-10-22 23:41] TylerNHansen opened #69 "License does not have year and name filled in"

[2014-10-23 11:47] #69 closed, assigned to nobody

[2014-10-28 20:07] #57 closed, assigned to nobody

[2014-10-28 20:08] #42 closed, assigned to nobody

[2014-10-29 12:11] codenamev opened #71 "Allow for non-ssh origin urls"
Currently if your origin points to an http url everything stops working.

[2014-10-30 13:29] nhance opened #72 "Show an error message when trying to use the `http` url"
Reflow depends on us having the ssh keys in place and using that as the authentication method for github. Not everyone will get their repo setup that way, so we need to cowardly refuse to work on a repo when they haven't used the ssh url

[2014-10-30 13:29] #72 closed, assigned to nobody

[2014-11-12 19:28] rarkins opened #73 "Support for non-master branch"
The README refers to `master` branch explicitly and a quick search of the source code shows it mostly hardcoded. What would be the best way to support a permanently configured alternative base, e.g. 'develop'? e.g. supporting an environment variable `GITREFLOW_BASE` or something like that.

[2014-11-12 19:34] rarkins opened #74 "command for merging updates from base branch"
As a policy, we ask developers to merge updates from the base branch (e.g. master) prior to submitting or resubmitting a PR for review. Due to merge squashing, it won't matter how many messy merge commits come, so this is good practice for a project where people are committing things that don't cause merge conflict but could still cause problems. A reflow command for this would be good.

[2014-11-20 16:43] aqilzeeshan opened #75 "Changing remote url in \reponame\.git\config to make reflow deliver work"
for "git reflow deliver branch_name" to work, I have to change
C:\Users\Administrator\Documents\GitHub\reponame\.git\config
From
[remote "origin"]
	url = https://username:password@github.com/accountowner/reponame.git
	fetch = +refs/heads/*:refs/remotes/origin/*
To
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git@github.com:accountowner/reponame.git

Is it known issue ?
oth

[2015-01-05 10:39] peterobrien opened #76 "Add integration with Gitlab"
I asked Valentino about this, and his reply (a month ago now) was:

Unfortunately we probably won't have scope to work on this ourselves where I'm currently working so opening this issue as a feature

Thanks,
Peter

[2015-01-12 19:56] codenamev commented on #76
Leaving this open for now to gauge demand from the community.  If anyone finds this integration useful leave a :+1:  here and when we see a good amount of activity I'll queue it up as a feature.

[2015-01-12 20:24] codenamev commented on #51
@bakesteve sure give it a go!

Ah, yeah we've only tested gitreflow on Ubuntu and OSX...

We've recently refactor the file you referenced to here: https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/git_helpers.rb#L60

I imagine you're getting that error message since the file `./tmp_squash_msg` doesn't exist yet.  Adding something like `touch ./tmp_squash_msg` before that gets run

[2015-01-15 07:37] seaneking opened #77 "404 error on all PR functions"
Getting a 404 error when git reflow tries to do anything on a pull request. `review` fails, and even if I make a PR manually for the branch `delver` and `status` also fail.

Tried to re-run `git reflow setup` but it just tells me that
[code]
as does `git reflow setup -l`

Example of one of the errors (on `review`):
```Error: #<Github::Error::NotFound: GET https://api.github.com/repos/github.com/sp

[2015-01-15 12:57] codenamev commented on #77
@seaneking what is the name of the repo/branch?  We've had issues in the past with branch and repo names that have special characters and have been trying to hone how we parse it from the URL.

[2015-01-15 14:42] seaneking commented on #77
no special characters, repo is `seaneking/sproutli` and branches I've tried with are just standard words (e.g: `selectize`). Though I notice that the GET api url in the error above isn't right? Should be `github.com/seaneking/sproutli/`.

Also, probably not related, but another project I've been dealing with in the last few days (dokku-alt) has had similar 404 errors due to a change in how gh-page

[2015-01-15 14:52] codenamev commented on #77
We are parsing the remote user and remote repo name manually from the origin URL you setup your project with (see: [GitHelpers](https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/git_helpers.rb#L8))

Looks like somehow the wrong settings are ending up in your gitconfig.  Can you paste here what you have in your project's .git/config file for `remote.origin.url`?

[2015-01-15 14:56] seaneking commented on #77
url = https://github.com/seaneking/sproutli.git

[2015-01-15 15:00] codenamev commented on #77
Ah, this is related to #75 caused by #71.  To fix this, you can patch up your origin to use the `git://` url for the repo as opposed to the `http://` url you're using.

`git remote set-url origin git://new.url.here`

[2015-01-15 15:00] #77 closed

[2015-02-10 14:59] #71 closed

[2015-02-10 15:03] codenamev commented on #75
Fixed in `0.4.2` :smile:

[2015-02-10 15:03] #75 closed

[2015-02-11 01:45] codenamev opened #84 "Review command race condition"
Sometimes the pull request trying to get created for a branch that doesn't exist yet.  Need to wait for the initial push before we can create the pull request.

[2015-02-12 13:03] codenamev opened #86 "Create a packaged version of gitreflow with travelling ruby"
details here: https://github.com/phusion/traveling-ruby#getting-started

[2015-02-13 13:13] mms-uret opened #88 "bad URI on git reflow status"
When executing `git reflow status` I get

`error: bad URI(is not URI?): https://api.github.com`

commands which do not use GitHub API (eg. start) work as expected.

Any ideas? Thanks in advance.

[2015-02-13 14:24] nhance commented on #88
I saw this when using ruby 2.2.0 as well. Looks like an issue with the latest ruby. Can you try 2.1.5? We'll use this ticket to address

[2015-02-13 14:31] codenamev commented on #88
We should really add tests for multiple versions of ruby and dependencies
like this:
http://ylan.segal-family.com/blog/2013/06/21/testing-with-multiple-ruby-and-gem-versions/

We can add this in to relieve this and future related issues

On Friday, February 13, 2015, Nicholas Hance <notifications@github.com>
wrote:

[2015-02-13 14:42] mms-uret commented on #88
Thanks a lot, works with ruby 2.1.5

[2015-02-13 20:23] sschuberth commented on #52
I'm usually not in favor of misusing issues trackers for discussions that should better be led on mailing lists, but now that it started here and even is linked from the main page, I'd like to add a few things:

1. Even without squash-merge you can quite easily find out which merge introduced a specific commit, e.g. by using [git-when-merged](https://github.com/mhagger/git-when-merged).

1. I disa

[2015-02-26 01:47] seaneking commented on #66
+1 this would be awesome - been caught out more than once forgetting to get back on master first. And agree it shouldn't be forced.

[2015-02-26 01:51] seaneking opened #89 "Default PR title from branch name rather than last commit"
Or better yet enable user to edit title on command line before creating PR during deliver. We have Slack notifications setup for PRs and having all these random PR titles pop up is confusing/annoying, especially for non-devs on the team who keep up with app progress.

[2015-02-26 02:23] nhance commented on #89
I agree, this has been a slight annoyance. It's probably not too much to prompt for a title and we could allow it to be specified with `-m "title here"` which is something devs are probably used to

[2015-03-02 18:18] halbtuerke commented on #76
:+1:

[2015-03-06 11:32] seaneking commented on #89
Yep I think prompting during review + an `-m` shortcut for this would be awesome. Unless they’re planning on pushing straight through with `—skip-lgtm` then the dev would have to set a better title on the PR anyway, so may as well do it during review.

[2015-03-06 12:11] codenamev commented on #89
I agree, I find myself modifying the PR title every time anyways.  I'll see about adding this soon.

[2015-03-16 16:40] #88 closed

[2015-03-30 15:20] frankhock opened #93 "bitbucket: error occurs while creating pull request"
http://take.ms/I1b8k

screenshot of error :point_up:
alias `grr` - git reflow review

reflow successfully creates PR and assigns reviewer, however it does not open browser for review

[2015-04-02 12:48] ermauliks opened #94 "Getting following error while setting up GitHub with reflow"
![image](https://cloud.githubusercontent.com/assets/3040988/6964209/9f049746-d964-11e4-9030-4a6a36fc22aa.png)

[2015-04-02 12:51] nhance commented on #94
Looking into this now

[2015-04-02 13:13] nhance commented on #94
@codenamev next time we work on this it looks like this may be from the `run` command on this line: https://github.com/reenhanced/gitreflow/blob/3d213a17c7f87d542ec82118e09164ab8e512b63/lib/git_reflow/git_server/git_hub.rb#L119

It appears that we lose error details because `ArgumentError` is a subclass of `StandardError`, so maybe we should be more restrictive on the type of error we rescue as we

[2015-04-02 13:35] nhance commented on #94
@ermauliks can you tell me what version of ruby you're using this with? It looks like `2.1.2` but I want to confirm

[2015-04-02 13:36] ermauliks commented on #94
@nhance correct. `2.1.2`.

[2015-04-02 13:58] nhance commented on #94
I know we saw issues with `2.1` before, if you can use `2.2.1` I think that may help but I won't know until I have a chance to run this locally

[2015-04-03 13:53] codenamev commented on #94
Fixed with `0.5.2` :tada:

[2015-04-03 13:53] #94 closed

[2015-04-06 12:25] bhavinjavia commented on #94
Hi @nhance I am @ermauliks colleague and running into same issue with 2.2.1. See below.

[code]
Notes:
1. This issue seems to occur every time after we install a newer version of ruby and install git_reflow gem.
2. I have checked ALL other ruby versions managed by rbenv and made sure git_reflow exists only on latest (2.2.1).

[2015-04-06 12:39] codenamev commented on #94
@bhavinjavia I'm looking into this now for you

[2015-04-06 13:03] codenamev commented on #94
@bhavinjavia I'm not able to reproduce that issue... I went through the process of installing that version of ruby and ensuring our gem is not installed but I have no issue running the setup command.

It is strange seeing that particular issue as the `deliver` command is the only `f` switch we use in the app.  I'm wondering if this is an issue with other GLI gems conflicting?

Can you try doing a

[2015-04-21 19:45] wdjunaidi commented on #76
:+1:

[2015-04-22 07:00] warden1975 opened #96 "Git reflow setup undefined method `body`"
I have stumbled into this error suddenly. Can anyone help what could be the problem.

```error: undefined method `body' for #<ArgumentError: wrong number of arguments (2 for 1)>```

[2015-04-22 12:01] codenamev commented on #96
what version of ruby are you using?

[2015-04-23 06:58] warden1975 commented on #96
[code]

[2015-04-23 06:58] warden1975 commented on #96
[code]

[2015-04-24 14:50] dberry37388 commented on #76
+1

[2015-04-27 14:39] omranjamal commented on #93
The link above returns XML saying 'Access Denied', but I think I'm having a similar problem.

[2015-04-27 14:41] nhance commented on #93
We're going to be putting another cycle on this perhaps as soon as next week. This is on the top of the list to review as soon as we can get some time on it

[2015-04-29 03:26] warden1975 commented on #96
Anybody who can help? Or any suggestion that I should do for further tests?

[2015-04-29 03:26] warden1975 commented on #96
@codenamev ?

[2015-05-03 22:55] tanin47 opened #97 "tmp_squash_msg can be improved"
tmp_squash_msh seems to be hanging around if we use git reflow in other directories than root. This is due to this part of code.

[code]

If we are not the the root directory, the relative ./git won't exist

We can change to something like:

[code]

[2015-05-03 23:18] codenamev commented on #97
That's a great idea. Nice catch!  Care to submit a pull request? This would
be a great method to have in our `git_helpers` in `
lib/git_reflow/git_helpers.rb`

On Sunday, May 3, 2015, Tanin Na Nakorn <notifications@github.com> wrote:

[2015-05-04 12:23] codenamev commented on #96
Can you provide a backtrace starting with what command you ran to get that?

[2015-05-14 20:24] meesterdude opened #100 "add changelog support"
I usually am verbose about my PR messages; it's the place i do my brain dump of what i was thinking, issues I ran into, and so on. Sometimes I write nice commit messages that would work well in a changelog; others are just noise.

ideally, we'd set a flag on review command that grabs the commits we wrote and formats them in a change log for us in the PR, and presents in editor for update

Might be

[2015-05-14 20:27] meesterdude opened #101 "add "Created With Reflow""
At the bottom of every PR, we can add the text "Created With Reflow" where reflow is a link to the project. Similar to "sent from my iphone"

This would need to be appended automatically; but for the most part appears at the bottom of the editor and can be easily nuked.

Perhaps a personal setting can decide to disable this feature for good, should the user be bothered by it.

[2015-05-14 20:28] meesterdude opened #102 "rescue/allow retry on review submit"
sometimes, when you submit a PR to github, it errors. we should catch this, and ask the user if they want to retry; usually a retry seems to work. maybe even retry a few times ourselves.

[2015-05-14 20:32] codenamev commented on #102
I think this is a dup of #84?

[2015-05-14 20:32] #102 closed

[2015-05-15 15:21] #97 closed

[2015-05-15 18:12] codenamev opened #103 "Add attributor to squashed commit for remote contributions"
When merging down pull requests on opensource projects, it currently loses track of the original author since we're squash-merging the commits.  We'll need some sort of way to retain the attribution to the original author (maybe using `--author` for the final commit?)

[2015-05-15 18:23] codenamev opened #104 "Create contributing doc"
Just a note to create a document with instructions on how to contribute to GitReflow.

[2015-05-15 19:32] meesterdude opened #105 "message below the fold in review"
Ideally, when I am presented the editor, this is what i'll see

[code]

Where, anything after `--end--` is sourced from a file that the project defines. So, projects can use reflow and define their own checklist to display (or whatever else) in the editor, as you create the PR.

we then just split on `--end--` and throw away anything after it, when creating the PR.

However, one snag is either we

[2015-05-26 14:30] AlexCppns opened #106 "git reflow setup not working"
$ git reflow setup
Available remote Git Server services::
1. GitHub
2. BitBucket (team-owned repos only)
Which service would you like to use for this project?  1
Your GitHub account was already setup with:
        User Name:
        Endpoint: https://api.github.com

Let me know if you need more information.

[2015-05-26 14:36] nhance commented on #106
Try the following to see what your github user has been set as: `git config --get-all github.user`

That will likely return an empty string, so you can assign the username like this:
`git config --global --replace-all github.user "AlexCppns"`

[2015-05-26 14:37] nhance commented on #106
Please re-open if that doesn't fix it. You may need to edit your git config to remove the reflow settings as we don't have a way to wipe/reset everything yet

[2015-05-26 14:37] #106 closed

[2015-05-26 16:09] mikefsm opened #107 "Error when running git reflow review"
Just install the reflow gem and went through the setup. When I ran git reflow review on the branch I was working on I got the following message:
error: undefined method 'shift' for "git rev-parse --show-toplevel":String
error: undefined method 'strip' for 1:Fixnum

Did this on my PC at work so I'm not sure if that is being goofy. I wasn't able to get resnet running locally on that machine but did

[2015-06-02 14:43] codenamev commented on #107
Fixed via https://github.com/reenhanced/gitreflow/commit/0f38dd7289c7533d880f80dbde43e4eea2e81f32

[2015-06-02 14:43] #107 closed

[2015-06-18 13:28] codenamev commented on #89
@seaneking we've updated this in the latest version

[2015-06-18 13:28] #89 closed

[2015-06-18 13:28] codenamev commented on #96
Closing this one for now.  If you have issues again we can re-open and re-visit.

[2015-06-18 13:28] #96 closed

[2015-06-27 19:47] tanin47 opened #111 "gitreflow doesn't seem to work well with BitBucket's pull request"
So, if we use it, BitBucket's pull request won't be closed because gitreflow merge the pull request manually into master. After gitreflow removes the branch, the pull request will become empty.

I think the workflow can be changed to:

Assuming we want to merge the branch A into master.

1. squash all commits in A and force push. The pull request on Bitbucket will reflect this change.
2. Use BitBu

[2015-06-29 20:57] codenamev commented on #111
So BitBucket's API is less than ideal to work with for closing out pull requests ([see here for an update on where squash-merge stands](https://bitbucket.org/site/master/issue/8995/provide-the-option-to-use-git-merge-squash)).

I do like the clever workaround you've come up with, but it's still just a workaround.  Some other git workflows prefer a rebase in favor of a squash-merge for the final de

[2015-06-29 21:11] nhance commented on #111
Sure, I think we could support this in a flagged option. Our paranoia is around developers throwing `--force` into a normal daily workflow and becoming numb to the danger inherent in it.. as long as it's hidden away behind a tool like reflow, it removes that danger IMO

[2015-07-22 13:21] nhance commented on #103
I like this.

These commands already receive an argument (`start` being the most visible example). Do we use the presence of a `/` to change the way it works?

I'm worried about trying to pack so many features into the same tool. Does it make sense to build a copy of reflow and repurpose it for opensource? It could have it's own name and stay very focused on this particular workflow.

[2015-07-22 13:47] codenamev commented on #103
Hmmm... maybe this would be a good time to introduce the idea of a `workflow`.  Meaning, you can define your workflow in a config file that would plug-in to git-reflow.  Like the way oh-my-zsh works with plugins combined with the idea of how capistrano handles callbacks.

So you could define a file that has a bunch of before/after calls that can target the core workflow (the basic reflow commands)

[2015-07-22 13:48] codenamev commented on #103
I think this would be a great push for a big `1.0` release ;-)

[2015-07-22 13:55] nhance commented on #103
Damn it would be cool if we could make it that simple. Any idea on how we can offer an out of the box experience that let's people use it for opensource in less than say 45 seconds?

[2015-07-22 13:57] codenamev commented on #103
Isn't that what GitHub is fore? :stuck_out_tongue_winking_eye:

[2015-07-23 20:14] sethladd opened #112 "Clarify when I would want to install reflow or git_reflow"
Hi,

thanks for the helpful README! I was wondering if it could mention when I would want to install reflow or git_reflow ? Right now, it just says "or". :)

Thanks!

[2015-07-23 20:15] sethladd opened #113 "Clarify when I would want to install reflow or git_reflow"
Hi,

thanks for the helpful README! I was wondering if it could mention when I would want to install reflow or git_reflow ? Right now, it just says "or". :)

Thanks!

[2015-07-23 20:15] sethladd commented on #113
Sorry, double button hit.

[2015-07-23 20:15] #113 closed

[2015-07-23 20:17] codenamev commented on #112
Heyo!  We setup `reflow` as a sort of `symlink` to `git_reflow`.  So to clarify, `git_reflow` is the official gem, and `reflow` just declares `git_reflow` as a dependency.

Either should do the job, but personally I use `git_reflow` ;-)

[2015-07-23 20:17] #112 closed

[2015-07-23 23:25] sethladd opened #115 "GIT_REFLOW_PR_MSG: Permission denied"
After running git reflow review on my first branch created by reflow, I saw this error:

[code]

It looks like I'm not able to edit my PR message, and maybe this error is why?

[2015-07-23 23:29] sethladd opened #116 "reflow needs an lgtm from myself"
Would it make sense for reflow not to require an lgtm from myself, if I've commented on the PR? Right now, I need to type lgtm into a comment on my PR before I can deliver a branch with reflow.

[2015-07-24 12:03] codenamev commented on #115
We've been getting this lately from others as well... can you do a quick `ls -la /Users/sethladd/Code/dartdoc/.git` and share the output?  I'm using `zsh` and haven't had these problems, but for those that use `bash` we're seeing these errors.  I'll investigate soon and get this resolved for you.  In the meantime, a dirty workaround would be to `touch .git/GIT_REFLOW_PR_MSG` before you review.

[2015-07-24 12:04] codenamev commented on #116
I think that makes sense.  Care to submit a PR?

[2015-07-24 15:03] sethladd commented on #115
[code]

[2015-07-24 15:07] codenamev commented on #115
I was worried about that... looks like we might have to hijack the `COMMIT_EDITMSG`  I'll try to get to this today

[2015-07-24 15:55] sethladd commented on #115
Thanks for taking a look!

[2015-07-24 15:56] sethladd commented on #116
Can't promise I'll get to it soon :) but good to know someone (me?) can fix it. Thanks!

[2015-07-24 17:07] sethladd commented on #115
FWIW, looks like touching that file doesn't help:

[code]

[2015-07-26 19:59] sethladd opened #117 "Option to silence the offer to open the PR in my browser?"
In order to make the workflow faster, what do you think about not prompting to open the PR at the end of `git reflow review` ?

`git reflow review --help` doesn't list an option to turn off that offer.

Many terminals will let a user click a URL, so perhaps we could just print out the PR URL, and if the user wants to visit there, they can click it.

[2015-07-27 15:38] sethladd opened #118 "No help from git reflow --help"
Hi,

What do you think about printing options from a `git reflow --help` ?

[code]

[2015-07-27 15:46] codenamev commented on #118
I like that idea, I'll flag this as a feature

[2015-07-27 16:42] sethladd commented on #118
Thanks!

[2015-07-29 22:26] sethladd opened #119 "deliver halted because lgtm not detected, but lgtm exists"
![screen shot 2015-07-29 at 3 25 45 pm](https://cloud.githubusercontent.com/assets/5479/8971543/2e1a060c-3606-11e5-9d09-a0bd33a7e9dd.png)

[code]

Notice how devoncarew gave an lgtm.

Any ideas why reflow won't deliver the feature?

[2015-07-30 00:23] codenamev commented on #119
That is expected behavior. Since you added another commit after his approval, he would need to review those changes and give final approval no?

[2015-07-30 00:23] #119 closed

[2015-07-30 00:41] sethladd commented on #119
hm, good point. Not sure why I added another commit. Thanks for the quick reply!

[2015-08-01 03:40] johanoskarsson opened #120 "Error: #<NameError: wrong constant name >"
In my test repo with git_reflow (0.6.1) on osx 10.10.4:

[code]

[2015-08-01 03:57] johanoskarsson commented on #120
Looks like this was because I forgot to run setup first.

[2015-08-02 19:09] sethladd commented on #115
Any thoughts on this? We'd like to roll this out to more of our team, but everyone is using bash. Thanks!

[2015-08-02 19:18] johanoskarsson opened #121 "Github pre-receive hook to ensure review is not skipped"
I'd like to enforce that the reflow review process is followed by disallowing merging to master without reviews (unless the user forces it explicitly during an emergency).

Would this be a feature that could live in reflow?

[2015-08-02 19:32] codenamev commented on #115
I should have time to address this tomorrow.   I have a hunch it's the type of ruby system call that it makes, and if not we'll have to resort to storing it in the gitconfig.

[2015-08-02 19:38] codenamev commented on #121
Can you describe the use case?

In a generic agile workflow, master can be pushed to at anytime, and it's the responsibility of the feature branches to pick up on any changes before merging back down to master.  That's one reason we do a `git pull origin <base-branch>` before the `delver` command merges down your feature branch.

@nhance and I have been discussing the possibility of abstracting wo

[2015-08-02 21:27] johanoskarsson commented on #121
The use case is to ensure that all the commits to master have in fact followed the workflow (new branch, pull request, reviewed etc). Both because some people might forget or simply think that it won't do any harm to sneak through a few commits.

[2015-08-03 13:17] nhance commented on #121
I think this is a great idea, but it's beyond what `git reflow` can do. Reflow is an extension of the `git` command and designed to be a lightweight tool to help developers reduce the risk of slipping up. Adding hard restrictions like this seems like it might be a better fit for a system like beanstalkapp.com ?

[2015-08-03 13:19] #115 closed

[2015-08-03 13:23] codenamev commented on #120
This may have also been related to #115.  Thanks for logging this.  I'm going to close for now.

[2015-08-03 13:23] #120 closed

[2015-08-03 13:31] codenamev commented on #121
Closing this out.

[2015-08-03 13:31] #121 closed

[2015-08-03 17:10] sethladd commented on #115
Hi,

Just tried this, but now I'm getting:

[code]

This is the first review for a new branch.

[2015-08-03 17:12] codenamev commented on #115
Hey @sethladd,

This error surrounds not setting of your `EDITOR` environment variable.  For now, if you set it you shouldn't have an issue.  I'll look into getting this fixed possibly by end of day/beginning tomorrow.

[2015-08-03 17:13] sethladd commented on #115
Gotcha! I set `EDITOR` and sure enough, it works!

[2015-08-03 17:21] codenamev commented on #115
@sethladd f.y.i. fixed in `0.6.3` :-)

[2015-08-03 17:26] sethladd commented on #115
:+1:

[2015-08-03 17:33] sethladd opened #123 "Don't open EDITOR if there is an existing PR for this branch"
Hi,

Here's a scenario:

* git reflow start sl-test
* git commit
* git commit
* git reflow review
  * EDITOR pops up, I replace sl-test with description of feature
  * save/close editor
* (later)
* git commit
* git commit
* git reflow review
  * EDITOR pops up, populated with sl-test (again)

Expected: no EDITOR pops up on second run of review (I suppose?... I assume that because I already set the

[2015-08-03 17:38] codenamev commented on #123
I'm with you on this, and I find myself constantly closing out the editor.  The way this was originally implemented was done asking to fill that info _before_ checking for an existing pull request.  I'll mark this as a todo to check for an existing PR before prompting for this.

[2015-08-03 19:25] sethladd commented on #123
Yes, that would be a big help! Thanks.

[2015-08-03 23:55] sethladd commented on #116
hm, just in case an edit to an existing comment doesn't trigger an email: @codenamev

[2015-08-04 11:49] codenamev commented on #116
Thanks, did not get that email.

[2015-08-04 16:37] sethladd commented on #116
https://github.com/reenhanced/gitreflow/pull/124

[2015-08-04 19:06] #116 closed

[2015-08-05 00:34] sethladd opened #125 "Update README to mention how to update an in-progress feature branch from origin/master"
Assuming changes have come into origin/master while I've been working on my local feature branch. What's the git-fu that master reflowers use to update my local feature branch with the latest and greatest?

(apologies if I missed it in the README, I checked and couldn't find it)

I've been doing a standard:

[code]

But I'm sure there's a better reflow-approved way.

Thanks!

[2015-08-05 12:01] codenamev commented on #125
`git pull origin master` is what we use, which does the same thing you mentioned.

There is a feature request open (#74) we should be able to get to shortly to make this a reflow command.  `git reflow update` maybe?

[2015-08-05 16:04] sethladd commented on #125
That would help. At minimum, some talk about the preferred workflow in the README will help, even if it's `git pull origin master` , which is pretty reasonable.

[2015-08-05 16:05] sethladd opened #126 "Hide author's name from list of LGTMs we need to get"
git reflow says that it needs an LGTM from me, even though it really doesn't :)

For example:

[code]

Expected:

`[deliver halted] You still need a LGTM from: devoncarew`

(because `sethladd` is the author of the patch)

Also:

[code]

Expected:

`reviewed by:   devoncarew`

[2015-08-08 14:21] sethladd opened #127 "Setting title is ignored from review"
[code]

Notice that I set `-t` from the command line, but the branch name is still used as a title (and the EDITOR popped up).

I would have expected that `-t` would mean that I wouldn't have seen the EDITOR pop up, and that the Title would match the command line.

Bug?

[2015-08-08 14:31] sethladd opened #128 "Feature Request: command to cleanly land a contributor's PR"
Consider the case where a project gets a sweet PR from a contributor. Everything is great. lgtm. Now, how do I cleanly land that?

I'd love a reflow command that takes a PR from a contributor and "does the right thing".

Thanks!

[2015-08-08 14:32] sethladd commented on #128
If we had this, we wouldn't need the big green Merge button from the Github UI.

[2015-08-08 15:00] codenamev commented on #128
We have this on the top of the roadmap.  Dup of #103 (I think), and I left an outline of how we handle this internally.  Let's move the conversation there.

[2015-08-08 15:00] #128 closed

[2015-08-08 15:00] codenamev commented on #127
Not setting the title is a definite bug.  Is it expected behavior to set the body to the title in this case?

[2015-08-08 15:05] codenamev commented on #111
marking this as a TODO to add `--squash` to the `review` command for cases like this

[2015-08-08 15:07] codenamev commented on #105
This can already be done with git alone.  See the git config `commit.template` for how to set this up.  I'll leave this open as a TODO to add a wiki page for how to set this up.

[2015-08-08 15:09] codenamev commented on #101
@nhance, thoughts on this?  Personally if I was using gitreflow I wouldn't want to have to constantly delete this message from my PRs.

[2015-08-08 16:30] sethladd commented on #127
Keeping the body blank is fine. I've never needed or wanted to set the body to something via the command line. I can always do that via the GUI.

[2015-08-08 16:32] sethladd opened #129 "Request: git reflow review --quick or --update"
If I already have a review in progress, then the current `git reflow review` process is a bit lengthy and duplicates a lot. Might I suggest a `--quick` or `--update` option?

* don't open EDITOR
* don't prompt me to submit the PR (just do it)
* don't prompt me to open in browser

This way, if the PR already exists, just update the review, and don't prompt me. Right now, I need to confirm the EDITO

[2015-08-10 15:28] sethladd commented on #103
Here's what we do now: https://github.com/dart-lang/sdk/wiki/Merging-a-PR-contribution

Would be great to have something similar (and easier) from reflow.

[2015-08-31 12:29] codenamev commented on #129
Closing this as it seems to be a dup of #123

[2015-08-31 12:29] #129 closed

[2015-09-24 17:22] dreid opened #134 "Command Injection in append_to_squashed_commit_message."
https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/git_helpers.rb#L64

The message is interpolated into this command sequence causing variable and command substitution to happen in the shell.

Most notably this causes commands in `backticks` found in the PR description to be executed upon `git reflow deliver`.

My suggestion in this particular case would be to just use the File api

[2015-09-25 23:01] josephgrossberg commented on #134
Helpful context IMO: I often use the backticks, so that my commit messages have fixed-width text on github, per github-flavored mardown. E.g. "adds auditing to the `ShoppingCart` model`"

[2015-09-28 18:46] dreid commented on #134
I do not believe this is actually fixed by #135.

My understanding is that `%x{}` works just like backtick treating it's arguments as a string and doing shell expansion.

Take the following irb session for example:

[code]

As you can see, only the third form (system w/ multiple arguments) can adequately avoid shell substitution.

[2015-09-28 19:36] codenamev commented on #134
I'll have to revisit this tomorrow morning.  It appears that `%x{}` does shell expansion only when doing String interpolation via `#{...}` in combination with double quotes.  As an example of it working without it:

[code]

We started using backticks as it gives the most flexibility while maintaining context by avoiding running commands in a subshell (via `system`) or overriding the current proces

[2015-09-28 19:41] dreid commented on #134
That seems like a reasonable approach, thanks.

[2015-09-29 13:33] codenamev commented on #134
Ok, got this out the door in `0.6.7`.  Fully tested. Closed by #136

[2015-09-29 13:33] #134 closed

[2015-10-12 14:15] #126 closed

[2015-10-15 22:50] tarngerine opened #141 "Option to require LGTM from only one person?"
im happy to see this project. we use phabricator at fb but for my side project i want to adopt a similar style with stacked diffs that turn into squashed commits when merging.

i liked the lgtm requirement as a hack around github, but having EVERY person LGTM is a bit too rigorous for my workflow. possible to have an option to set?

[2015-10-16 00:16] codenamev commented on #141
I think this makes sense. We've worked with teams before that had approval minimums set before. @nhance, feature?

[2015-10-16 12:59] nhance commented on #141
This is a great idea! Let's make a config option and add a question to the initial `setup`

[2015-10-22 18:35] squaresurf opened #142 "review doesn't work with github forked repos."
`git reflow review` will create a Pull Request against the master branch of the forked repo not the original repo as expected.

[2015-10-22 18:40] codenamev commented on #142
We've got this planned for our "Workflow" refactor.  Ultimately we need to extract our workflow and allow for for "hooks" so that people can customize the process.

We have an initial discussion going on how to apply this to open-source contributions here: #103

[2015-10-22 18:40] #142 closed

[2015-10-22 18:41] squaresurf commented on #142
That sounds awesome! I was going to see if there was something about hooks. I need to add in trello integration eventually.

[2015-10-22 18:45] codenamev commented on #142
We've got Trello integration nearly done as well (see the `vs-add-stage-command-and-trello` branch)!  Should be released sometime in November.  We recently did a fairly large overhaul to how we handle pull requests that I have not yet had the time to merge up so if you feel adventurous and want to explore it, I'd give it until next week so I can resolve all the conflicts.

[2015-10-28 13:19] tspecht opened #144 "Deliver to custom branch?"
Is it possible to configure the deliver command to push not to master but to another branch, e.g. staging or development or whatever?

[2015-10-28 13:20] codenamev commented on #144
we currently support doing this (albeit not configurable) with an additional argument `git reflow deliver special-base-branch`

[2015-10-28 13:20] #144 closed

[2015-11-09 18:29] ivdma commented on #76
:+1:

[2015-11-23 14:14] sshilko opened #145 "option to use non-master branch by default everywhere"
i have branch = X
X != master

I would like to do:

0. git reflow start
1. git reflow review
2. git reflow status
3. git reflow deliver

and everything else with this branch X, atm. its possibe to

[works] git checkout X
[works] git reflow start
[works] git reflow review X
[partially-works] git reflow status X
[works] got reflow deliver X

[2015-11-23 17:09] codenamev commented on #145
Closing as this is a duplicate of #73.  We have a `git-reflow config` milestone setup that we're bundling this feature into to allow you to override some basic assumptions git-reflow makes.  Should be released in the next couple weeks.

[2015-11-23 17:09] #145 closed

[2015-11-23 18:04] sshilko commented on #73
wouls be nice, atm. u can (as a solution) append branch name at the end of commands (see #145) . only status cmd doesnt show updated status.

[2015-12-21 07:29] shivhg opened #146 "git: 'reflow' is not a git command. See 'git --help'"
Error:

    git reflow
    git: 'reflow' is not a git command. See 'git --help'.

    Did you mean this?
    	reflog git reflow command is not recognised,

I have installed both git and `git_reflow` gem and even tried uninstalling and reinstalling the reflow and     updating the git version.

Current versions installed are :
git_reflow 0.7.1,
git version 2.6.3,
ruby 2.2.3p173

[2015-12-29 13:41] eboskma commented on #76
:+1:

[2015-12-29 13:43] codenamev commented on #146
Sorry for the late response here.  This sounds like you're having an issue with your `PATH`.  Run `echo $PATH` in your command line.  Are you using RVM or rbenv?

[2016-01-04 12:55] shivhg commented on #146
I am using rbenv. I had issue issue due to multiple ruby version, i installed the gem in some other version. So was facing the issue. Not any issue so closing it

[2016-01-04 12:55] #146 closed

[2016-01-08 04:27] mishagray opened #147 "git reflow with git submodules"
So I seem to have a problem using git reflow inside of a git submodule.

What I want to be able to do, is simultaneously work on an App and a Framework library (which is setup as a gitsubmodule of the app) at the same time.

In general the Framework has to be tested using the app anyways.  So we wouldn't develop 'outside' of the submodule.

Steps
* have any repo that has a submodule.  (ex:  App)
*

[2016-01-21 17:09] ssiegler commented on #76
:+1:

[2016-01-22 12:13] abate commented on #76
:+1:

[2016-02-03 16:53] matrix9180 commented on #76
:+1:

[2016-02-11 02:00] pboling commented on #141
The teams I am on would want to use a 2x `LGTM` minimum.  Even with that I do still like the requirement that the last comment contain `LGTM`, so if a minimum of two is set, and three people have commented, if the last one is not `LGTM`, then the merge is aborted.

This way code reviews that add valid questions can supersede older, perhaps less rigorous, reviews.

[2016-02-11 14:28] codenamev commented on #141
I'll work on getting this out.  Seems simple enough.  I think it makes sense to check for a final `LGTM` comment as well.

[2016-02-19 07:23] sinistance commented on #76
:+1:

[2016-02-22 16:51] codenamev commented on #127
Fixed in `0.7.2`

[2016-02-22 16:51] #127 closed

[2016-02-22 16:51] codenamev commented on #123
Fixed in `0.7.2`

[2016-02-22 16:51] #123 closed

[2016-02-22 17:47] eashman commented on #76
:+1:

[2016-03-02 18:49] dragonsinth opened #149 "github PR ends up "closed" instead of "merged""
The way 'deliver' currently works, the original PR ends up marked Closed instead of Merged.

There is a flow that can fix this.
1) Perform the merge-squash against master.
2) Force-push the original branch to update the PR.
3) Attempt to push master (if it fails, loop back to step 1)
4) Delete the original branch.

I'm not sure if a small sleep is required before step 4; at some time in the past g

[2016-03-02 18:56] nhance commented on #149
I am normally against the idea of force pushing, but the idea of hiding force pushing inside of a tool like this actually makes a ton of sense. This seems like a good idea to me

[2016-03-02 19:02] codenamev commented on #149
This is the second time this has come up (see #111).  I think it would make sense to squash commits in the feature branch itself as well.  As long as we're pulling in an update before force-pushing I don't see any real drawback.

[2016-03-11 19:14] codenamev commented on #101
Nice idea, but I think injecting an ad is not the right approach here.  Maybe a "Reflow-Enabled" "badge" that project maintainers could place on their Readme would be better suited for this?

[2016-03-11 19:14] #101 closed

[2016-03-11 19:16] nhance commented on #101
Completely agree

[2016-03-24 02:57] matthauck commented on #52
This thread is a little old, but hopefully it's okay to revive it. I'm curious if there was ever any progress in configuring different kinds of merge workflows?

The idea of using a squash merge is one of the really attractive things about reflow to me, because it allows one to use pull requests without the baggage of merge commits all over the place that mess up a clean linear history. I totally

[2016-03-24 03:58] matthauck opened #151 "SSL Verification is turned off"
Why is SSL verification [turned off](/reenhanced/gitreflow/blob/master/lib/git_reflow/git_server/git_hub.rb#L103) for github repos?

[2016-03-24 05:47] sschuberth commented on #52
Squash merges do not make `git blame` easier. `git blame` does not really care if it has to go through a few more commits. In exchange, you get the exact commit and context (from the commit message) if you did not squash. Finally, it might be that different people contributed commits on the squash-merged branch, and you might ending up blaming the wrong guy in that case.

So what if the merge fail

[2016-03-24 12:11] codenamev commented on #151
I can't recall why we did this.  Just traced it back and seems to be how it's always been.  I'll prioritize to turn this back on.

[2016-03-24 12:26] codenamev commented on #52
There has been some discussion on changing the squash merge (see #111 and #149 for some reasons why); and I believe we have decided to alter our preferred workflow soon as we've found that squashing commits (via rebase) in the feature branch just before merging to master yields a little better result than the squash merge into master directly.  It still does not resolve the issue of clearly labele

[2016-03-24 13:38] #54 closed

[2016-04-06 23:55] pboling commented on #141
@nhance @codenamev we are working on this feature at @invoice2go and will have a PR within the next day or so.

[2016-04-07 05:14] pboling commented on #149
Alternate solution is interactive rebase, which is very similar to a squash merge.

[2016-04-07 07:26] lokinell commented on #76
:+1:

[2016-04-07 11:18] codenamev commented on #141
Fantastic!  Looking forward to seeing it :smile:

[2016-04-07 11:28] codenamev commented on #149
Personally I like an interactive rebase better, but I'm concerned it might be too advanced of a tool?  Maybe we'll make it an option and default to `merge --squash`?  @nhance thoughts here?

[2016-04-07 12:49] nhance commented on #149
Agreed, interactive rebase is beyond the scope of reflow. It's a great idea and I love using it, but I think it places too much knowledge demand on those who might be new to reflow and not used to using it.

[2016-04-07 12:52] dragonsinth commented on #149
It doesn't really matter how you end up getting there; if you want to end up "merged" you have to force-push the original branch after you setup the new master; you also have to change the final commit message from "Closes #4" to something like "Merges #4" that doesn't auto-trigger github.  Here's what I've patched for myself locally:

[code]

[2016-04-08 13:39] codenamev opened #152 "Deliver command doesn't sync feature branch before merge"
We need to add one last push of the local feature branch to remote so that we can make sure local changes haven't been introduced after the feature has approvals remotely.  Currently, it appears you can sneak in commits post-approval this way.

[2016-04-08 15:55] #151 closed

[2016-04-08 15:55] #152 closed

[2016-04-08 23:18] pboling commented on #103
We are implementing the workflow feature now at @invoice2go, will have a PR for review, based on the [example given](https://github.com/reenhanced/gitreflow/issues/103#issuecomment-123727794) by @codenamev within a few days.

[2016-04-09 00:01] pboling opened #154 "Remove unused gitreflow-common"
## gitreflow-common is unused

So remove it!

## Original

[code]

is not a repository.  Was probably munged in an over-eager find-replace.

reference: https://github.com/nvie/gitflow/blob/develop/git-flow#L10

[2016-04-09 00:04] pboling commented on #154
Also, it is unclear to me if the gitflow-common `sh` functions are used by git reflow.  Are they required for the project to work?  It seems to me that git reflow does not actually use the git flow flow.

[2016-04-09 13:25] codenamev commented on #154
In the very beginning of this project we had hoped to build on top of a
modified version of git-flow, but it proved too cumbersome to maintain and
extend. I think we just missed yanking this file.  Can you update your PR
to just remove it?

Thanks for all the help :smile:

On Friday, April 8, 2016, Peter Boling <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> w

[2016-04-09 18:45] pboling commented on #154
Yep!

[2016-04-09 20:45] #154 closed

[2016-04-11 13:19] codenamev opened #156 "Use a logger instead of `puts`"
It'd be nice to bundle any `puts` into a standard [Ruby Logger](http://ruby-doc.org/stdlib-2.3.0/libdoc/logger/rdoc/Logger.html).  I'm not sure if that means removing the `say` command, but I like the idea of wrapping output in a standardized fashion so you can use your own log formatter if you wish.

[2016-04-11 13:21] codenamev opened #157 "Add documentation"
Considering using something like [Docbase](https://github.com/appbaseio/docbase) or if just the standard GH wiki would work.

[2016-04-11 22:04] pboling opened #158 "Modernize gem file structure"
(following the pattern of a new gem skeleton with `bundle gem git-reflow`)
* Add `bin/console`
* make `exe` the directory for executables in the release
* move `bin/git-reflow` to `exe/git-reflow`

[2016-04-12 18:09] codenamev opened #162 "Upgrade RSpec"
As @pboling [has pointed out](https://github.com/reenhanced/gitreflow/pull/161#issuecomment-209031976), we can use the [transpec](https://github.com/yujinakayama/transpec) gem to do a lot of automated translations to the new `allow` syntax.

[2016-04-12 18:33] #158 closed

[2016-04-14 00:20] simonzhu24 commented on #162
Ready for a PR =)

[2016-04-14 18:36] #141 closed

[2016-04-14 19:37] simonzhu24 commented on #162
@codenamev I think we can close this issue now.

[2016-04-14 19:45] codenamev commented on #162
I believe we still need to upgrade RSpec itself? @pboling should have details on the issues he faced.  He locked us in at 3.0 in a previous PR, so I think we still need to do a `bundle update rspec` here and do some sanity checks on the specs.

[2016-04-15 13:17] codenamev commented on #162
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;nzFhAUqt&#x2F;13-upgrade-rspec"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Upgrade RSpec</a>

[2016-04-15 19:59] pboling commented on #162
Actually I didn't lock to 3.0, I actually unlocked so we can upgrade.

Old version constraint was `~> 3.0.0`, and I changed to `~> 3.0` meaning that with a simple `bundle update rspec` it will now install the latest 3.4 version, and put that in the Gemfile.lock.  @simonzhu24 will you do that, and see if all the tests pass?  There were so many failures before the syntax fix that I didn't bother to

[2016-04-18 12:57] codenamev commented on #74
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;v4yoxMub&#x2F;22-164-issue-66-74-implementing-git-reflow-refresh"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> [164] [Issue #66 + #74] Implementing &quot;Git Reflow Refresh&quot;</a>

[2016-04-18 13:06] codenamev commented on #125
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;v4yoxMub&#x2F;22-164-issue-66-74-implementing-git-reflow-refresh"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> [164] [Issue #66 + #74] Implementing &quot;Git Reflow Refresh&quot;</a>

[2016-04-18 17:42] #162 closed

[2016-04-28 19:31] simonzhu24 commented on #118
@sethladd Actually the correct command that you want to run to get help for tools built on GLI is:

`git reflow help `

[2016-04-28 19:33] codenamev commented on #118
As a command line tool, `--help` is a standard we should support.  I think this is as easy as adding a global flag?

[2016-04-28 19:35] simonzhu24 commented on #118
Yup, working on it !

[2016-04-28 20:24] simonzhu24 commented on #118
@codenamev, @sethladd

In using the GLI tool:

"--help is special, and it's there as an alias for `app help`.  The idea is if you want help on a specific command, you'd do `app help command`.  So, unfortunately, having --help do more than get global help isn't something it does right now."

Dave (Owner of the https://github.com/davetron5000/gli repository)

[2016-04-28 20:31] codenamev commented on #118
hmm... `git reflow start --help` seemed to work for me.  I'm going to leave this open to try and figure out what's going on here.  Seems the GLI syntax may have changed that's not allowing the root command to run proxy the `--help`

[2016-04-28 21:20] simonzhu24 commented on #118
@codenamev GLI does not support the generic command level --help option.
`git reflow --help` for help on all reflow commands is not supported. In this case, you want to use GLI's `git reflow --help` instead. However GLI does support --help as both options and global_options for each individual command parsed. So you can run `git reflow start --help` or `git reflow review --help`.

[2016-04-28 23:30] #66 closed

[2016-04-28 23:55] simonzhu24 commented on #73
@codenamev is this something we still want?

[2016-04-29 05:13] rarkins commented on #73
FYI, I ended up switching to using `master` branch as default, so I no longer personally require this feature.

[2016-04-29 09:01] sshilko commented on #73
i'm successfuly using 'git reflow deliver develop' w/o status command

[2016-04-29 10:10] pboling commented on #73
Our base branch is `development`, and `master` is out production code, so we definitely need this feature @invoice2go.

[2016-04-29 10:13] pboling opened #168 "Idea: git reflow promote <promotion branch>"
I would like to have a simple command that would do the work of the following manual process to promote a PR from the branch the work was originally done on, to a more forward branch, like a prod hotfix, due to an emergent crisis.

The manual steps to migrate a given feature branch from `development` to `quality`, where `quality` lags behind `development` generally, are:

1. First restore the feat

[2016-04-29 18:01] codenamev commented on #168
I'm not sure this is a workflow we want to support.  It sounds like you've adopted [this branching model](http://nvie.com/posts/a-successful-git-branching-model/)?

Our workflow has been adopted primarily from Thoughtbot and GitHub (Zach Holman from GitHub gives [a great talk on their process](http://www.infoq.com/presentations/github-evolution)).  Scott Chacon from GitHub also has a great article

[2016-04-30 00:14] simonzhu24 commented on #118
@codenamev can we close this issue? or is there further investigation required?

[2016-05-03 23:42] simonzhu24 commented on #73
@codenamev @pboling I believe that Git Reflow currently supports this. With the recent changes to Git Reflow:

You can do:
1. git reflow start <branch_name> --base <base>
2. git reflow refresh --base <base>
3. git reflow review <base>
4. git reflow deliver <base>

If no base is specified, each command will default to Master, but when a <base> is specified, it will treat the <base> as the base bran

[2016-05-04 08:38] sshilko commented on #73
@simonzhu24 git reflow status is broken for non-master

[2016-05-04 16:55] simonzhu24 commented on #73
@sshilko I just tested it and it seems to be working fine for me? I pasted my terminal commands below. Can you give more information about what is broken or provide what you are seeing on the terminal?

Are you running the proper command? It is `git reflow status <branch_name> ` where branch_name is the base branch you want your PR to merge into. Otherwise, it is `master` by default.

[code]

[2016-05-04 23:31] pboling commented on #168
Yes, we are using a modified version of git flow.  I don't think, at this point, git reflow is opinionated as to branding strategy.  With the command line override for base branch any strategy can be supported.

Promoting a feature built against one branch to another branch seems like a widely applicable scenario to me.

We have always expected that our use case would differ from yours and forking

[2016-05-05 12:31] codenamev commented on #168
I do see the value in having a command like this using your branching model.  Since this is not something we use, we would most likely not maintain it very well if we were to bundle it in the git-reflow core.

I think this is a perfect opportunity to introduce a gem-based extension library.  We love seeing the different ways companies large and small choose to automate their workflow, and I see a

[2016-05-05 12:31] #168 closed

[2016-05-05 12:44] codenamev commented on #51
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;lBFjnE8M&#x2F;30-turn-default-merge-commit-message-into-template"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Turn default merge commit message into template</a>

[2016-05-05 13:11] codenamev commented on #73
@sshilko the non-master support has not been officially released yet.  We have this planned for 0.8.0 as it is bundled with some potentially breaking changes that we'll need to outline.  If you would like to test this out, feel free to clone this repo and run `bundle exec rake install` to build and install the gem from source.

[2016-05-05 13:13] codenamev commented on #76
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Hki3gtE6&#x2F;31-add-integration-with-gitlab"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add integration with Gitlab</a>

[2016-05-05 13:14] codenamev commented on #84
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;GDrqplB7&#x2F;32-review-command-race-condition"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Review command race condition</a>

[2016-05-05 13:16] codenamev commented on #86
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;Q0QZMYgg&#x2F;33-create-a-packaged-version-of-gitreflow-with-mruby"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Create a packaged version of gitreflow with mruby</a>

[2016-05-05 13:17] codenamev commented on #93
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;eM2YkXQz&#x2F;34-bitbucket-error-occurs-while-creating-pull-request"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> bitbucket: error occurs while creating pull request</a>

[2016-05-05 13:20] codenamev commented on #100
This is a great idea.  I think we're going to close this in favor of #51 to create a commit template that would let you do this as well :smile:

[2016-05-05 13:20] #100 closed

[2016-05-05 13:21] codenamev commented on #103
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;ckTnI4aE&#x2F;35-add-support-for-open-source-workflows"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add support for open-source workflows</a>

[2016-05-05 13:22] codenamev commented on #104
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;1uO0MidV&#x2F;36-create-contributing-doc"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Create contributing doc</a>

[2016-05-05 13:24] codenamev commented on #105
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;KOmjOmWx&#x2F;37-add-documentation-on-setting-up-commit-templates"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add documentation on setting up commit templates</a>

[2016-05-05 13:26] codenamev commented on #111
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;2JpMCy6A&#x2F;38-alter-bit-bucket-deliver-to-squash-commits-before-merge"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Alter bit bucket deliver to squash commits before merge</a>

[2016-05-05 13:28] codenamev commented on #117
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;iOihwkXp&#x2F;39-option-to-silence-the-offer-to-open-the-pr-in-browser"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Option to silence the offer to open the PR in browser</a>

[2016-05-05 13:29] codenamev commented on #118
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;lI1OYczE&#x2F;40-no-help-from-git-reflow-help"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> No help from git reflow --help</a>

[2016-05-05 13:30] codenamev commented on #147
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;4DaQ5Gqd&#x2F;41-git-reflow-with-git-submodules"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> git reflow with git submodules</a>

[2016-05-05 13:31] codenamev commented on #149
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;cGptSZtu&#x2F;29-170-sz-issue-149-fix-commit-message-to-merge-instead-of-close"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> [170] Sz issue&#x2F;149 fix commit message to merge instead of close</a>

[2016-05-05 13:32] codenamev commented on #156
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;S2DsTTDl&#x2F;42-use-a-logger-instead-of-puts"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Use a logger instead of `puts`</a>

[2016-05-05 13:33] codenamev commented on #157
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;RI84XNfE&#x2F;43-add-documentation-for-code"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add documentation for code</a>

[2016-05-05 15:54] pboling commented on #168
👍 I will work on this over the next few weeks.

[2016-05-06 08:22] sshilko commented on #73
Darwin zzz-air.local 15.2.0 Darwin Kernel Version 15.2.0: Fri Nov 13 19:56:56 PST 2015; root:xnu-3248.20.55~2/RELEASE_X86_64 x86_64

git-reflow version 0.7.5

[code]

git feflow status does not see the pull requests for me in 0.7.5

[2016-05-06 08:28] sshilko commented on #73
@simonzhu24 i tested it again and works for me too now, sorry for trouble

[2016-05-19 18:47] nbolt commented on #76
👍

[2016-05-19 20:13] kevwil commented on #76
👍

[2016-05-19 23:36] TigerWolf commented on #76
👍

[2016-05-19 23:42] elygre commented on #76
:+1:

[2016-05-20 07:58] faaabio1618 commented on #76
:+1:

[2016-05-20 08:22] danielbeardsley commented on #52
I feel like that is a reason one might use if they aren't aware of the many options git has for examining history. Specifically: `git log --oneline --first-parent` which if done on master, gives one-line-per-feature-branch-merge no matter what method of merging you use.

Lines like:
[code]

A "linear history" doesn't really describe git, nor software development. Things are done in parallel in rea

[2016-05-20 14:05] LuisUrrutia commented on #76
👍

[2016-05-20 19:29] hrwebasst commented on #76
:+1:

[2016-05-21 04:39] pboling commented on #52
We switched our model from a rebase base one to the squashed merge one because we have a large team of developers (around 60) at many levels of familiarity with git, and rebase as a standard part of the process requires force pushing, which is confusing and scary to those unfamiliar with it.  Squash merge reduced resistance to git reflow from many people on the team because now regular merges can

[2016-05-21 17:53] garnett opened #173 "gitreflow does not cache github token?"
1. `git reflow setup` succeeds
2. On every `deliver` I'm prompted to enter my credentials again.

I wonder if it happens by design or some kind of config issue (I expected OAuth token to be stored).

Will be happy to provide any details that might help.

[2016-05-21 18:21] codenamev commented on #173
Check to make sure that your token is stored in `~/.gitconfig.reflow` or `~/.gitconfig`. We connect using the `github.oauth-token` key. If that exists, then chances are good it's an issue with you ssh setup connecting to Github; in which case you'll want to configure an ssh-agent (this would be my guess).

[2016-05-22 19:12] DaleWebb commented on #76
👍🏾

[2016-05-25 13:07] alarie commented on #76
👍

[2016-05-25 18:22] talexand opened #174 "--base switch does not work?"
[code]

Running OSX with git-reflow cloned and built from 2dab9f7.

[2016-05-25 19:32] lakenen opened #175 "Setup doesn't work with GH two-factor turned on"
The two-factor code is never sent. Here's the output:
[code]

[2016-05-25 19:35] codenamev commented on #175
The two-factor auth code isn't sent in the headers the first time around.  Can you past the trace of what happens after you enter your auth code?

[2016-05-25 19:35] lakenen commented on #175
I never get an auth code...

[2016-05-25 19:35] codenamev commented on #173
@garnett were you able to figure this out?

[2016-05-25 20:00] codenamev commented on #175
We authenticate with Github by creating a [personalized access token](https://github.com/settings/tokens) for your account to use with git-reflow on the machine you're using to set it up with.  In order to do this with two-factor authentication, Github will tell us when we try to create your personal access token (via response headers) that your account requires a two-factor authentication code in

[2016-05-25 20:18] lakenen commented on #175
Sorry, I wasn't clear. I have github setup to send me a SMS message. It never gets sent.

[2016-05-25 20:36] codenamev commented on #175
@lakenen can you try to build from source using the current pre-release for `0.8.0`?

[code]

Apparently Github won't trigger the SMS for GET requests, so the recommended "fix" is to just send a dummy POST.

[2016-05-25 20:46] lakenen commented on #175
Ok, I did all that, and it's the same problem. I never get a message from GH.

[2016-05-26 00:45] simonzhu24 commented on #174
@talexand

Can you please make sure your git reflow repository is up to date (`git pull`), delete and rebuild your gem?

I just tried it and It works for me currently:
[code]

[2016-05-26 06:52] pboling commented on #174
`gem install git_reflow` won't work because `master` branch changes haven't been released yet.

[2016-05-26 12:23] codenamev commented on #175
@lakenen I have fixed and confirmed this works now from that same branch.  We are reviewing final changes today for `0.8.0` and should have a release out by tomorrow.

If you want to take advantage of this before the release, from the directory you cloned gitreflow to run:

[code]

[2016-05-26 12:25] codenamev commented on #174
One last note here, `bundle exec rake install` will install the gem from source.  We should expect an official release by tomorrow :smile:

[2016-05-26 12:25] #174 closed

[2016-05-26 15:11] #175 closed

[2016-05-26 15:23] codenamev commented on #149
Fixed in v0.8.0 with 3b44510b7042f7aa6db76248aa52123145732c0a.

[2016-05-26 15:23] #149 closed

[2016-05-26 15:23] codenamev commented on #125
Fixed in v0.8.0 with 3b44510b7042f7aa6db76248aa52123145732c0a. `git reflow refresh` :smile:

[2016-05-26 15:23] #125 closed

[2016-05-26 15:24] codenamev commented on #117
Fixed in v0.8.0 with 3b44510b7042f7aa6db76248aa52123145732c0a.  We opted to just remove that "feature" to open links in a browser.  No one on our team has ever used it.

[2016-05-26 15:24] #117 closed

[2016-05-26 15:25] codenamev commented on #74
Fixed in v0.8.0 with 3b44510b7042f7aa6db76248aa52123145732c0a. `git reflow refresh` :smile:

[2016-05-26 15:25] #74 closed

[2016-05-26 15:26] codenamev commented on #73
Fixed in v0.8.0 with 3b44510b7042f7aa6db76248aa52123145732c0a.

[2016-05-26 15:26] #73 closed

[2016-05-26 15:48] alexeyraspopov opened #176 "undefined method `git_editor_comand' for GitReflow:Module"
Updated to 0.8.0 and found this.

[code]

[2016-05-26 16:02] #176 closed

[2016-05-26 16:03] codenamev commented on #176
Sorry about that.  All fixed in v0.8.1 with above mentioned commit.

[2016-05-26 16:12] alexeyraspopov commented on #176
@codenamev cool! thanks for quick fix.

[2016-05-26 18:16] axtl commented on #59
Using ruby 2.3.0 and git_reflow 0.8.1 (and git 2.8.3) on OS X 10.11.5, I get:

[code]

Also tried on 2.2.5 and 2.3.1 with the same error.

[2016-05-26 18:20] codenamev commented on #59
I will investigate on my next deliver.

[2016-05-26 21:48] sethladd commented on #117
Thanks!

On Thu, May 26, 2016 at 8:24 AM Valentino <notifications@github.com> wrote:

[2016-05-27 07:45] ahmadawais opened #177 "Can we switch off LGTM reviews?"
I really like GitReflow and am planning to devise it in my personal workflows. But most of the times, till the beta, I am the only one building and gitting as we speak. I would like an option for LGTM reviews to be switch off when working on individual git repos until there are more members.

[2016-05-27 07:58] ahmadawais opened #178 "Unable To Install the GEM"
I have been looking forward to using GitReflow and today I ended up installing it. I think I had some issues which are listed below since the gem was not installed. Can you guide me how to get it done?

[code]

[2016-05-27 10:40] codenamev commented on #177
We added a feature in the latest release that allows you to set a "minimum number of approvals". If you set this to zero it should give you the behavior you are looking for.  I would also suggest you set this up for each project so that you don't make it a global setting :wink:.  You can do this with the `local` flag from the root of your project.

`git reflow setup --local`

When it asks for the

[2016-05-27 10:40] #177 closed

[2016-05-27 10:41] codenamev commented on #173
If you are still having issues I'll re-open.

[2016-05-27 12:10] codenamev commented on #178
I'd try to install nokogiri manually using either
[code]
or
[code]

If neither of those work, make sure your xcode is up to date and you have developer tools installed.  Then I'd use homebrew to install the dependencies and update bundler to use those libraries by default.

[2016-05-27 12:10] #178 closed

[2016-05-27 19:30] garnett commented on #173
sorry for delayed reply, @codenamev:

[code]

I see my token blank even after authorizing via command line. Could you please elaborate on "configure ssh-agent"? I'm using ssh for cloning repos and it works (if it is related at all)

[2016-05-27 19:35] codenamev commented on #173
Can you try clearing that line from your gitconfig? Github updated their responses for OAuth tokens not too long ago and we lost the ability to extract existing tokens from their API.  So if you had previously installed git-reflow it would find a personal token with a matching key, but the API now returns a blank `token` key (hence it blank there).  We've "fixed" this in the latest release `0.8.1`

[2016-05-27 19:35] #173 closed

[2016-05-27 19:46] ahmadawais commented on #178
@codenamev Thanks for the help. Here's what I tried.

First of all I tried.
[code]

And it gave me the following error
[code]

Then I tried

and it seems that it went all OK and the GEM was installed.

[code]
And after that I ran the original command and it installed everything as it was supposed to.

[code]

Thanks for the help.

[2016-05-27 19:48] codenamev commented on #178
Fantastic!  Thanks for providing feedback for anyone else running into this issue :smile:

[2016-05-27 20:57] ahmadawais commented on #177
@codenamev I have selected `0` in setting up the Git Reflow for the very first time. I again used the `--local` parameter to setup `0` but when I do a `git reflow deliver` it says `This is the current status of your Pull Request. Are you sure you want to deliver?`. And I have to say `Y` to get it working.

Could there be a better workflow for individual devs trying to keep a better PR based featur

[2016-05-27 21:00] ahmadawais commented on #178
^ That was the intention of my last comment. I edited the issue title for it to rank of Google in case someone is searching via Google for a similar issue.

[2016-05-27 21:04] ahmadawais opened #180 "Workflow Documentation Request"
As embarrassing as it may sound. This repo is the first time I got to hear about `LGTM` reviews. But the point is, I am always trying to improve on things like my workflows.

Which is why, I am requesting a WIKI document, that explains how does your workflow work. Nothing too complex just one example where you would use Git Reflow and show us how it will work with LGTM in an explicit example.

It

[2016-05-27 23:58] codenamev commented on #177
Our documentation is in major need of TLC.  We do provide [some configuration options here](https://github.com/reenhanced/gitreflow#configuration).  What you're looking for is `git config --add "reflow.always-deliver" "true"`

[2016-05-28 06:23] ahmadawais commented on #177
@codenamev But that would make it true in all the cases... while I do have some repos where I need LGTM reviews. I was wondering if it could be possible on a more project by project basis. Maybe in a future release or two?

Happy with what I see now :)

[2016-05-28 08:51] garnett commented on #173
it works now, thanks @codenamev!

[2016-05-28 10:35] codenamev commented on #177
i believe if you don't provide `--global` to `git config` it will use your project config file

[2016-05-28 11:54] ahmadawais commented on #177
^Sure! I for now am going with writing `Y` when it asks for it. Will let you know if I change my mind.

[2016-05-30 03:53] pboling commented on #177
@codenamev so git reflow already supports project level config?!?  I was under the impression that neither `gli` gem nor `git-reflow` supported that yet.

[2016-05-30 04:41] simonzhu24 commented on #180
@codenamev Perhaps a README is not enough, do you have any ideas? I'd be happy to take on this task.

[2016-05-30 04:42] simonzhu24 commented on #118
@codenamev The link you mentioned brings me to a 404, Card is not found...

[2016-05-30 05:27] simonzhu24 commented on #177
@pboling I believe that git reflow was built with the intention of supporting project level config, but I am not sure if the workflows were entirely tested:

The answer lies in: https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/config.rb

Take the `add` command for instance:

Reflow first checks if you have `--global` flag, if you do, it will modify `~/.gitconfig`.
If you have the

[2016-05-31 12:45] codenamev commented on #177
@pboling we have supported project level config for quite some time now (see 800874d78843721e88b7c5044c31b963525b6785).  I use it on several projects without any issues.

The magic is in `git reflow setup --local` which you run from a project you want to setup in a different way than your global git-reflow configuration.  With the `--local` flag, we add the value `<remote_user>/<remote_repo_name>`

[2016-05-31 18:02] simonzhu24 commented on #177
@codenamev Thanks for the reply! I think it makes everything a lot clearer! ^_^

It seems like I am mistaken about the way reflow reads configurations, it reads the configurations from `~/.gitconfig.reflow` which stores the configuration for all local repositories using `<remote_user>/<remote_repo_name>` as the key! (I thought it read them from `.git/config` in each repo.)

I know that the `README

[2016-06-01 21:11] davidcaseria opened #182 "Default approval regex not respecting :+1:"
After using `git reflow setup`, the `constants` section in the `.gitconfig.reflow` file defaults the `approvalRegex` with `(?i-mx:lgtm|looks good to me|:\\+1:|:thumbsup:|:shipit:)`, however it does not respect PRs that have been approved by 👍  (`:+1:`).

[2016-06-01 21:32] simonzhu24 commented on #182
@davidcaseria I believe the expression should be:
```(?i-mx:lgtm|looks good to me|:\+1:|:thumbsup:|:shipit:)```

I can look more into this issue. In the meantime, could you please modify your `~/.gitconfig.reflow` to the expression above?

[2016-06-02 21:21] simonzhu24 commented on #182
@davidcaseria This should no longer be an issue when my pull request is approved!
The issue was that when you call `to_s` on the regex: `(?i-mx:lgtm|looks good to me|:\+1:|:thumbsup:|:shipit:)`, it adds an extra `\` to the `:\+1:` expression for some reason. So when I was adding this to your `~/gitconfig.reflow` file, there was an extra `\` inserted.

[2016-06-02 21:35] simonzhu24 commented on #84
@codenamev can you provide more details on this bug? The trello card seems to have been deleted.

[2016-06-04 01:22] dskrvk opened #186 "Bitbucket setup not working"
Our team uses Bitbucket, where we have a team account, but everyone pushes changes under their personal accounts, so we can see who did what.
Is this use case supported?

I couldn't find any documentation on what "team-owned repos only" means, so this is what I tried:

I also tried providing my personal username in the second step, with the same result.

[2016-06-06 14:45] davidcaseria commented on #182
@simonzhu24: I changed the config be received the following error:
[code]

[2016-06-06 15:30] simonzhu24 commented on #182
@davidcaseria: without seeing exactly what you have put on line 9, it is hard for me to debug your issue. The only change that you have to make in the config file from the original config is to remove a \ from the \\ expression.

[2016-06-06 15:38] davidcaseria commented on #182
@simonzhu24: Here is the full .gitconfig.reflow:
[code]

[2016-06-07 14:04] codenamev commented on #186
I'll look into this.  We use our team to own all repos, and the last we used Bitbucket, their API only supported calls to a repository that was owned by a team to use keys generated for that team.

[2016-06-07 14:41] dskrvk commented on #186
All our repos are team-owned as well. People authenticate using their private HTTP/SSH credentials though.

[2016-06-07 17:01] simonzhu24 commented on #182
@davidcaseria Sorry for the late response, yesterday was very hectic. I believe that `approvalRegex` needs to have a complete regular expression as the value. It should be something like:

[code]

Please let me know if this doesn't work for you.

[2016-06-07 18:11] davidcaseria commented on #182
@simonzhu24 : No worries. That `approvalRegex ` still results in the same config error for any git commands.

[2016-06-07 18:13] codenamev commented on #182
@davidcaseria what version of git are you using? also, can you do a sanity check for me `git reflow --version`

[2016-06-07 18:51] davidcaseria commented on #182
[code]
@codenamev: Should I upgrade to the latest versions?

[2016-06-07 19:04] codenamev commented on #182
Ah, yes, we released `0.8.1` that adds quite a few fixes.  Please review [our latest release](https://articles.buildbettersoftware.com/new-git-reflow-release-new-refresh-command-and-api-stability-173681953097#.cketkw4ui) so you're aware of the latest changes to the underlying workflow.

If your problem goes away please close this or let me know so that I can :smile:

[2016-06-07 20:37] swestner opened #187 "git-reflow setup not working on Windows"
Every time I try and `git reflow review` reflow prompts me for my github username, password and then fails if a token exists, or passes and creates a new token (in which case it fails on the next review).

If it fails because the token exists, it fails with the following error message

[code]

[2016-06-07 20:42] codenamev commented on #187
Github has recently changed their OAuth API and we have been fighting to find a way to resolve these issues.

Long story short, if you are on a version of git-reflow prior to `0.8.1` and you re-run the `setup` command you will likely run into this issue.  Can you try upgrading to the latest version? `gem update git-reflow`.  `git reflow --version` should say `0.8.1`

[2016-06-08 02:22] swestner commented on #187
Interesting. Looking at the --version, I am on version 0.8.1. I just installed the package today. I notice that you are using a different package name than I installed with. IIRC I used `gem install git_reflow` as shown in the readme. I just tried `gem install git-reflow` which installs version 0.0.1, but if I run update on it I get a no package found

![image](https://cloud.githubusercontent.com/

[2016-06-08 11:54] codenamev commented on #187
`git-reflow` is an alias gem we setup that just includes `git_reflow` as a dependency (without targeting a version).  So if you were to `gem update git-reflow` it would update it's dependencies, and in turn get the latest `git_reflow`.

Can you paste your `~/.gitconfig.reflow` file please?

[2016-06-08 14:31] swestner commented on #187
I see what is happening now. The application is creating a directory named `~` and putting the config file in there.

![image](https://cloud.githubusercontent.com/assets/6485583/15897770/c4ec12aa-2d63-11e6-9525-747d0d4871fc.png)

![image](https://cloud.githubusercontent.com/assets/6485583/15897792/db743e3a-2d63-11e6-8de5-19e53988fe30.png)

After moving that file into place, it all works.

FYI : I

[2016-06-08 14:35] codenamev commented on #187
That would do it!  We haven't officially supported windows yet, but this is very helpful 😄

I'll keep this issue open as a bug so we can keep track of it and we can address the setup and official support for windows in the next major release.

If you find any other bugs while working, please post an issue and I'll set a milestone to get this out :smile:

[2016-06-08 14:39] codenamev commented on #187
@swestner can you paste the output from `echo $HOME`?  If that outputs the right directory this could be an easy fix.

[2016-06-08 15:35] swestner commented on #187
![image](https://cloud.githubusercontent.com/assets/6485583/15900309/0f973880-2d6d-11e6-8c9b-5527839f01ca.png)

which is correctly identifies the home directory

[2016-06-08 17:01] davidcaseria commented on #182
@codenamev: It seems like 👍  is still not being respected in `v0.8.1`.

[2016-06-08 17:04] simonzhu24 commented on #182
The diff is still out and not merged yet, please wait for it to be merged.

On Wednesday, June 8, 2016, David Caseria <notifications@github.com> wrote:

[2016-06-09 12:34] codenamev commented on #186
Unfortunately this is not supported by Bitbucket 😞 . See Bitbucket Issue [\#10182](https://bitbucket.org/site/master/issues/10182/access-tokens-for-command-line-use) for the current problem and workaround that we've chosen, and [\#12186](https://bitbucket.org/site/master/issues/12186/non-expiring-auth-access-tokens-bb-15425) to track the current status from Bitbucket.

[2016-06-09 12:34] #186 closed

[2016-06-09 19:22] lezorich commented on #76
:+1:

[2016-06-11 20:32] dskrvk commented on #186
So the use case that's currently supported is for all team members to use the team's credentials locally?

[2016-06-15 08:36] timraasveld opened #188 "git-reflow fork command"
I think it would be useful to have an option to do something like
[code]
to create a fork `your_username/gitreflow` of the project `reenhanced/gitreflow` and the feature branch in `~/forks/gitreflow` (and on GitHub), and then when you type
[code]
have git-reflow detect that it's a fork that should be merged in `reenhanced/gitreflow` (not sure to go how about detecting it yet)

What do you think, i

[2016-06-15 08:44] timraasveld commented on #188
Just got an idea of how to detect that it's a git-reflow fork: add an `upstream` remote which refers to the remote you would like to PR to, and an `origin` remote which is your fork on GitHub.

[2016-06-15 12:14] codenamev commented on #188
Closing as is a duplicate of #103.  The real benefits from this would only come with git-reflow fully supporting an open-source workflow.  We will most likely be moving this to an extension (via gem), but is planned for after Trello integration.  Feel free to add comments/suggestions on #103

[2016-06-15 12:14] #188 closed

[2016-06-15 14:38] yfebles commented on #187
I had the same problem when i was installing  on windows. I modify the config.rb file on the line
5 when the CONFIG_FILE_PATH is defined for gitreflow config file storage

I put     CONFIG_FILE_PATH = "/.gitconfig.reflow".freeze and works. You must put here a path that is available on windows and not only the ~... that works good on unix and macs but not in windows

Maybe the constant value could

[2016-06-15 18:42] codenamev commented on #186
Yes.  User access tokens are not supported on Bitbucket, but team access tokens are.

[2016-06-17 11:39] ahmadawais commented on #180
@codenamev Looking forward!

[2016-06-17 12:22] codenamev commented on #180
I think you're looking for something like this?
https://github.com/thoughtbot/guides/tree/master/protocol/git

@simonzhu24 would you mind porting that to our workflow?

[2016-06-18 19:49] jshirley opened #190 "Ideas for additional steps, such as linting, etc."
I'm comparing this tool directly with [`arc`](https://secure.phabricator.com/book/phabricator/article/arcanist/), from Phabricator. In the project directory, you can configure additional behaviors such as running lint and pre/post merge checks.

This ensures that more than just a basic clean rebase and merge into master that nothing breaks (for example, if someone adds a lint rule in master right

[2016-06-20 12:21] codenamev opened #191 "Ability to lint git aliases for git-reflow commands"
See #181 for prior discussion.

[2016-06-20 12:49] codenamev commented on #190
We have considered integrating Github's "Merge Checks" they have at the bottom of Pull Requests.  I don't think this would be too difficult to add in.

Recently, we refactored the `deliver` command's merge checks into a single method [GitReflow::GitServer::PullRequest#good_to_merge?](https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/git_server/pull_request.rb#L89).

Our long-term

[2016-06-20 20:06] jshirley commented on #190
That looks great -- running a local lint as part of the `good_to_merge?` seems totally reasonable.

Quick implementation question, then I think this can be closed. I see `GitReflow.say notice, :notice` -- if we emit lint status to that, I assume that is the right output mechanism here?

If we want to have selective output, like when lint fails, using the `.say` method is also the right way?

[2016-06-20 20:10] codenamev commented on #190
I think so.  You can check  [GitReflow::Sandbox](https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/sandbox.rb#L5) for details on some different tags you can currently pass to `say` to get an idea for how that works.

[2016-06-25 15:22] barkerd427 commented on #76
+1

[2016-07-08 09:09] pboling commented on #73
@codenamev @simonzhu24 This is still broken.  `deliver` is not working, because it doesn't accept a `--base` option, and even if it did it wouldn't pass it through to `GitReflow.deliver`.  `GitReflow.deliver` does support `options[:base]`, but since it can't ever get it, it always defaults to `master`.

https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/commands/deliver.rb#L8

[2016-07-08 09:20] quanghiem opened #192 "non-master base branch does not work for the deliver command"
I am using git reflow for our puppet codebase and we use the production branch as our base branch.  Specifying the production base branch for the commands start, review, and status works, but is broken for deliver.

[code]

[2016-07-10 00:09] reillydavis opened #193 "GitHub authentication issues"
I'm having issues with GitHub authentication. Whenever I run a reflow command, it fails and gives the message below. If I delete the token from my GitHub account, it works one time, but then will come with the same error the next time. Using two step authentication with GitHub so not sure if that has anything to do with it. Any ideas? Thanks!

Using Ubuntu 16.04 with reflow version 0.8.1

`reilly@

[2016-07-12 14:34] codenamev commented on #193
I know you're on Ubuntu, but we recently changed the way we install and reference git-reflow specific git configurations (see if #187 solves your issue).

It is most likely an issue of blank keys in one of your git-config files.  Check all config files in `~/.gitconfig`, `~/.gitconfig.reflow`, `your/project/path/.git/config` clear out any github/reflow sections and re-run `git reflow setup`.

Sorr

[2016-07-13 14:36] #182 closed

[2016-07-27 12:49] codenamev commented on #193
@reillydavis are you still seeing issues here?

[2016-07-27 12:50] codenamev commented on #192
Looking into this.  I'll see if I can get a release out this week with a fix.

[2016-08-01 17:12] codenamev commented on #193
If you still have issues re-open.  I may reference this in future tasks that may auto-fix the config disconnect you're seeing.

[2016-08-01 17:15] codenamev commented on #105
Closing this for now.  The documentation for git's built-in commit templates is pretty clear, as is Github's new flavor.

[2016-08-01 17:15] #105 closed

[2016-08-01 18:49] #192 closed

[2016-08-01 18:55] #187 closed

[2016-08-16 09:24] hs3180 commented on #76
:+1:

[2016-08-19 02:33] speedfirst commented on #76
👍

[2016-08-19 12:11] abbas999 opened #196 "error: We were unable to authenticate with Github"
I'm getting a very non-descriptive "We were unable to authenticate with Github" message when I try to set up reflow. I know my password is correct because when I enter a wrong password, I get the expected authentication error message. All usual git operations are working fine. I'd be happy to help investigate.

    [ec2-user@ip-172-31-5-23 webapp]$ git reflow setup
    [notice] Created $HOME/.gitc

[2016-08-19 12:25] codenamev commented on #196
Strange issue!  I'm hoping it's not related to any of their updated APIs.

Prepend setup with the debug switch to see what Github is saying: `DEBUG=true git reflow setup`.  Paste the output you get from that here.

[2016-08-19 12:29] abbas999 commented on #196
[ec2-user@ip-172-31-53-203 webapp]$ DEBUG=true git reflow setup
    [notice] Created $HOME/.gitconfig.reflow for Reflow specific configurations
    [notice] Added $HOME/.gitconfig.reflow to ~/.gitconfig include paths
    Available remote Git Server services:
    1. GitHub
    2. BitBucket (team-owned repos only)
    Which service would you like to use for this project?  1
    Please enter your Git

[2016-08-19 12:47] codenamev commented on #196
Can you check #193 and see if any of those suggestions fix your problem?  Also, can you provide the version of git-reflow you're using? `git reflow --version`

[2016-08-19 12:56] abbas999 commented on #196
[ec2-user@ip-172-31-53-203 webapp]$ git reflow --version
    git-reflow version 0.8.3

I tried the suggestions mentioned in #193, but it didnt help. This is the first time I'm setting up reflow on this machine (fresh image), so understandably the git config files were mostly blank anyway.

[2016-08-19 13:04] codenamev commented on #196
Ok, I will setup a fresh machine and debug this one a little further.  In the meantime, you can connect Github manually by [creating an access token](https://github.com/settings/tokens) with a note of `git-reflow (ip-172-    31-53-203)`.  Then run `git config -f $HOME/.gitconfig.reflow --replace-all github.oauth-token "replace_with_your_generated_token"`.

Once you have your token setup, you shoul

[2016-08-19 13:13] abbas999 commented on #196
Ok i'll do that. Thanks so much for the help and prompt responses. I really appreciate it!

[2016-08-19 13:33] abbas999 opened #197 "undefined method for strip"
I'm trying to set up reflow but am getting an `undefined method 'strip' for /(?i-mx:lgtm|looks good to me|:\+1:|:thumbsup:|:shipit:)/:Regexp` error

reflow version is 0.8.3 and this is on CentOS. Ruby version is 2.2.4 (but i've also tried on 2.3.x with the same result).

    [ec2-user@ip-172-31-53-203 pict]$ git reflow setup
    [notice] Created $HOME/.gitconfig.reflow for Reflow specific configur

[2016-08-19 13:37] codenamev commented on #197
I just came across this when reworking the tests as well.  That is the last configuration you need, so you can set it manually for now until release later today: `git config -f $HOME/.gitconfig.reflow --replace-all constants.approvalRegex "/(?i-mx:lgtm|looks good to me|:\+1:|:thumbsup:|:shipit:)/"`

[2016-08-19 18:22] #53 closed

[2016-08-20 08:46] abbas999 commented on #197
I'm still getting the same error even after adding the config param

[2016-08-22 13:35] #196 closed

[2016-08-22 13:37] codenamev commented on #197
Fixed with dc80ebd59a49e4b01d60ad695ab393db7865a819 in v0.8.4

[2016-08-22 13:37] #197 closed

[2016-08-31 16:33] GreenRobot777 commented on #76
:thumbsup:

[2016-09-05 15:23] brettdh commented on #76
:thumbsup:

[2016-09-06 18:53] jiosec commented on #76
:+1:

[2016-09-14 13:37] robtassl commented on #76
👍

[2016-09-14 13:37] richardmable commented on #76
👍

[2016-09-14 19:53] codenamev opened #200 "Add Trello Integration"

[2016-09-14 19:53] codenamev opened #201 "Add Direct Merge Workflow"

[2016-09-14 22:28] pushcx commented on #59
It's a bug caused by the command files being double-included. GLI sees that it's ordered to define a switch for a command (in this case, deliver) that is already used and bombs out.

`exe/git-reflow` adds its lib dir to $LOAD_PATH and calls `commands_from 'git_reflow/commands'`. GLI (`commands_from` in `lib/gli/app.rb`) expects to be passed a path that returns true to `Pathname.new(path).absolute?

[2016-09-15 14:18] pushcx commented on #59
I think the double-loading is happening if the gem dir is a symlink. The same files can appear twice under two apparently different paths.

[2016-09-15 14:30] codenamev commented on #59
@pushcx I've been unable to reproduce this locally.  While you have this failing, can you try opening up the gem locally and seeing if removing the line that adds the lib dir to the `$LOAD_PATH` fixes the issue?

[2016-09-15 15:07] pushcx commented on #59
It does not fix it. It's the symlink thing.

I think you can probably reproduce this by setting one up. Run `gem env` to see your "USER INSTALLATION DIRECTORY", then run `ln -s ~/gemhome [USER INSTALL DIR]` to set up a symlink and `export GEM_HOME="~/gemhome"` to tell gem to use it (maybe also set GEM_PATH similarly?). Then `git reflow setup` should fail with this error.

[2016-09-19 12:28] pchiquet commented on #76
:+1:

[2016-09-20 12:47] ivdma commented on #59
I installed a fresh macOS Sierra.
Running rbenv with globally defined ruby 2.3.1.
I updated Rubygems to 2.6.6
and then `gem install git_reflow`-ed

Getting the same error again.

[2016-09-26 07:59] NamPNQ opened #202 "Make a git-reflow specific configuration for storing a custom base-branch"

[2016-10-04 15:01] codenamev commented on #202
There is currently a way to provide custom base-branches to `start`, `review`, and `deliver` commands.  I agree with @NamPNQ it would be nice to have a usable reflow configuration to override the default `master`.

Relevant uses of base branch defaults here:

- [ ] [start command](https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/commands/start.rb#L12)
- [ ] [refresh command](http

[2016-10-05 04:42] belfazt commented on #156
Hello, can I work on this?

[2016-10-05 09:58] codenamev commented on #156
Yes please :smile:

On Wednesday, October 5, 2016, Diego Camargo <notifications@github.com>
wrote:

--

Cheers,
Valentino

[2016-10-12 01:29] jtietema opened #203 "Running setup multiple times will create multiple entries in .gitconfig"
When running `git reflow setup` multiple times, the setup appends a line for every run in `.gitconfig` making it look like this.

[code]

Would be nice if it would check if the line is already there.

[2016-10-12 19:22] Shalmezad commented on #203
Think I found the issue, will fix it later tonight if someone doesn't beat me to it. :)

In the setup command (lib/git_reflow/workflows/core.rb), it's checking for:
`File.exist?(GitReflow::Config::CONFIG_FILE_PATH) or existing_git_include_paths.include?(GitReflow::Config::CONFIG_FILE_PATH)`

Here is the existing git_include_paths after running it once:
`/Users/shalmezad/.gitconfig.reflow`

Here is

[2016-10-12 20:21] #203 closed

[2016-10-12 21:51] Shalmezad commented on #51
Going to take a look at this later this week if you don't mind.

Any particular way you want this done?
(I'm thinking uses variable in ~/.gitconfig.reflow if it's available [will add default on setup], otherwise shows a warning and uses default, document the mustache variables available in the README, etc).

[2016-10-13 01:57] jtietema commented on #203
Awesome! Thanks for fixing this 😄

[2016-10-13 14:18] codenamev commented on #51
That all sounds good.  I'm a _little_ hesitant on adding `mustache` as a dependency for this as it's such a small feature.  Maybe start with it and then see if it's easy enough to implement without it?

[2016-10-13 14:46] Shalmezad commented on #51
Don't think we'll need the `mustache` gem unless you see value in using it.
Will have to do some digging to make sure this will work fine, but I'm leaning towards a gsub paired with self.send (evaluate mustache variables as calls), or having a preset dictionary of possible values that can be used.
[code]
`"this will say hello"`

[2016-11-28 18:53] francois opened #206 "Rejected push deletes local branch on deliver"
We just introduced GitHub protected branches into our workflow. A dev tried to deliver a feature:

[code]

I expected a rejected push to master to have stopped the deliver, leaving the working directory on the branch and master untouched.

[2016-11-28 18:58] nhance commented on #206
eek, this one is scary! I'll schedule some time this week to look into this

[2017-01-16 10:31] zwippie opened #207 "Github approval message is not seen as a LGTM"
With the introduction of [Github review requests](https://github.com/blog/2291-introducing-review-requests), it is now possible to give a comment on a PR as an **approval**.

Unfortunately, these approval messages are not seen by gitreflow as a valid `LGTM`, even if the text of the approval message is `LGTM`.

[2017-01-22 17:26] codenamev commented on #201
Now in master, secretly to-be-released in `0.8.5`

[2017-01-22 17:26] #201 closed

[2017-04-11 14:14] #206 closed

[2017-04-12 22:51] jmduke opened #212 "`git reflow deliver` no longer squashing!"
Hi! I recently bumped up to `0.8.6` and now when I run `git reflow deliver` on a valid branch reflow errors out with the following message:

[code]

Naturally, we can enable straight merges for the repo but then the behavior from before (squashing all commits on the branch into master) is no longer present.

It looks like there was some recent work on merge methods, and that may have something to

[2017-04-12 23:45] Kobold commented on #212
To add some additional information, this looks to be a Github API issue.

I've been using reflow 0.8.3, and in the last few days `git reflow deliver` has started failing with that `405 - Merge commits are not allowed on this repository.` above. Again, on version 0.8.3.

Updating to reflow 0.8.6, `git reflow deliver` still fails with `405 - Merge commits are not allowed on this repository.`

It app

[2017-04-12 23:46] Kobold commented on #212
And to aid replication efforts on your end, here are the settings for our repository where the error is occurring. Note that we've specifically disabled merge commits, and this has worked well with reflow historically.

![options](https://cloud.githubusercontent.com/assets/36694/24984000/992d6504-1f9f-11e7-9fca-942ced6077d3.png)

[2017-04-13 13:18] nhance commented on #212
This has been fixed in `HEAD` but has not yet been released. I can update to `0.8.7` today which should solve this

[2017-04-13 17:47] codenamev commented on #207
This was waiting on the github_api to pull in [our updates for the new API endpoints](https://github.com/piotrmurach/github/pull/292).  Now that v0.16 has been released, I've been working to resolve a namespace conflict with a global `say` command that was introduced with v0.15.  This may have to wait until git_reflow `0.9.0`.  Lots of exciting new features coming 😉

[2017-04-13 17:48] nhance commented on #207
@codenamev Check the latest master, I think I was able to get around the `say` conflict with `0.8.6` but I forget the details

[2017-04-13 17:53] #156 closed

[2017-04-14 12:44] codenamev commented on #190
With version `0.8.7` this is now doable using a custom workflow.  Official documentation will follow with the `0.9.0` release as we finalize some things, but you can accomplish linting like so:

First create a ruby file for your workflow (this can be located anywhere on your local machine):

[code]

Then set a special git config to register your new workflow:

[code]

Now when you run `git reflow

[2017-04-14 12:44] #190 closed

[2017-04-26 13:31] codenamev commented on #212
This is resolved in `0.8.8`.

[2017-04-26 13:31] #212 closed

[2017-04-26 14:47] #207 closed

[2017-04-26 17:40] Kobold commented on #212
Thanks again @codenamev !

[2017-07-10 15:11] robinstroobants commented on #178
gem uninstall nokogiri
xcode-select --install
gem install nokogiri

[2017-08-09 11:52] hampei commented on #76
👍

[2017-09-28 06:44] complanboy2 commented on #178
@ahmadawais It worked for me as well.

sudo gem install nokogiri -- --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/include/libxml2 --use-system-libraries

[2017-09-28 15:48] sebasjimenez10 commented on #178
@ahmadawais Thanks for sharing. This worked for me (just updated the version of the MacOSX sdk):
[code]

Thanks again :)

[2017-12-18 20:44] sgnl commented on #178
FWIW (for those coming in from a web search),

`xcode-select --install` would not return any information as I have installed it previously so I assumed that this step was fine but after inspecting the `mkmf.log` file it had a message in there that I still have to, again (because I did it before), agree to the CLI tools (im guessing because I just updated the cli tools via `app store.app`).

inside

[2018-02-16 03:05] alexandesigner commented on #178
@codenamev Thanks!

For me it turned out cool, I just had to change the path to SDK of XCODE which in my case I use 10.12

[code]

[2018-03-02 22:40] sangaline commented on #202
I agree that it would be nice to store the base branch, but another useful enhancement would be to include the ways to specify the base branch in the help menus of the commands. For example, the output of `git reflow deliver --help` is

[code]

which doesn't mention at all that there's an optional positional argument for the base branch. The help menu for the review command does mention the base b

[2018-03-26 08:23] abhishek77in opened #219 "git reflow status returns with 401 - Bad credentials"
How to setup git reflow afresh?

Something is wrong with my git reflow setup. Few commands work for me and few don't. Eg. I can do `git reflow start` but cannot do `git reflow deliver` or `git reflow status`.

I keep getting Bad credentials and running `git reflow setup` again does not help.

[2018-04-11 13:28] ragol commented on #76
:+1:

[2018-04-18 07:28] lcDan commented on #93
me2

[2018-04-18 07:31] frozentech commented on #93
me3

[2018-04-18 07:35] napoleon101392 commented on #93
me4

[2018-04-18 07:35] sandergarretsen commented on #93
me5

[2018-04-18 07:39] lcDan commented on #93
https://status.bitbucket.org/

[2018-04-18 10:13] codenamev commented on #93
Is this still an issue?

[2018-04-18 11:03] codenamev commented on #219
Please include more detailed output both of the working commands and the non-working commands.  Also, what version are you on (`git reflow --version`)?

[2018-04-18 18:52] anubhavsinha98 opened #220 "Nokogiri not getting installed:-"
sudo gem install git_reflow
I used this command and my gems got installed.
But when I did the bundle install then its showing error in fetching nokogiri.

[2018-04-20 09:02] FeeiCN commented on #178
`
sudo gem install nokogiri -- --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.13.sdk/usr/include/libxml2 --use-system-libraries
`

[2018-04-26 12:17] codenamev commented on #147
@mishagray About to tackle this.  Since I don't personally have a use-case, can you clarify expectations?  You would like git-reflow to target the sub-module when run inside the sub-module working tree?

[2018-04-26 13:58] codenamev commented on #220
Have you tried the solutions mentioned in #178?

[2018-04-26 14:00] codenamev commented on #219
Closing this for now.  If you still have this issue, please provide more details of the output.

[2018-04-26 14:00] #219 closed

[2018-04-26 14:27] codenamev commented on #219
Yes, you should be able to `gem uninstall git_reflow`.  I also recommend opening up `~/.gitconfig.reflow` and deleting the `[github]` section.  Also, since GitHub no longer supports managing oauth-tokens via their API, you'll have to manually remove any `git-reflow` labeled tokens listed in your [Personal access tokens](https://github.com/settings/tokens).

Once you've done all that, you can re-ru

[2018-04-26 14:35] abhishek77in commented on #219
@codenamev Thanks!

Error when using `git reflow deliver`:

[code]

[2018-04-27 13:24] codenamev commented on #93
Closing this until it presents itself again.  I believe this has been resolved.

[2018-04-27 13:24] #93 closed

[2018-04-27 13:33] codenamev commented on #118
Fixed in https://github.com/reenhanced/gitreflow/commit/af251a4360de39346783c94630683e778ac350d6

[2018-04-27 13:33] #118 closed

[2018-05-01 13:03] codenamev commented on #51
This was completed with 8eb339171a51a460ba4d635fd069c2f7b608cce4.

It introduced a new commit message template (MERGE_COMMIT_TEMPLATE ), in addition to the PULL_REQUEST_TEMPLATE (which is loaded from the standard paths that GitHub expects them), and adds the ability to define `{{ }}` template tags in both this new template and PR template. Anything inside of the `{{ }}` is sent to the GitReflow mo

[2018-05-01 13:03] #51 closed

[2018-05-03 17:29] XenuxX opened #225 "ear"

[2018-05-03 17:30] nhance commented on #225
👂

[2018-05-03 17:40] XenuxX commented on #225
Sorry for that. I was moving my cursor from Windows to VM. I didn’t reaize
that it was being typed as comment when i was trying to type in my VM.
Sorry again.

On Thu, May 3, 2018 at 12:30 PM Nicholas Hance <notifications@github.com>
wrote:

[2018-05-03 17:48] nhance commented on #225
No problem! I'll close this.. If you have any suggestions for new features, we're all 👂 👂 👂 👂 👂

[2018-05-03 17:48] #225 closed

[2018-05-05 11:00] abhishek77in commented on #219
@codenamev The uninstall did not work for me. It still remembers that I have a Github account setup etc.
I ran `gem uninstall git_reflow` and deleted `~/.gitconfig.reflow`.

[2018-05-05 19:06] codenamev commented on #219
If `git config --get-all github.oauth-token` returns anything, then `git-reflow setup` will give you that message.  So if you ran the `--replace-all` I mentioned, then chances are that's what it's telling you.  Does `deliver` work now?

[2018-05-06 01:16] abhishek77in commented on #219
I understand now, thanks a ton!

[2018-05-10 12:30] #84 closed

[2018-05-10 14:34] codenamev commented on #147
Future self: [How to know if in submodule](https://stackoverflow.com/questions/7359204/git-command-line-know-if-in-submodule)

[2018-05-12 19:51] codenamev commented on #157
Use our [inch-ci](https://inch-ci.org/github/reenhanced/gitreflow) to track progress of coverage

[2018-05-12 20:39] codenamev opened #228 "Add Pivotal Tracker Workflow"
This should add a new Workflow to our current [list of custom Workflows](https://github.com/reenhanced/gitreflow/tree/master/lib/git_reflow/workflows).

See our [wiki on Custom Workflows](https://github.com/reenhanced/gitreflow/wiki/Custom-Workflows) for more details on how to implement.

[2018-06-01 08:20] taiyuanhang commented on #178
@ahmadawais Thank you very much!

[2018-10-16 22:28] escapeit commented on #178
Those coming here from google after upgrading MacOS to Mojave (10.14), just changing the above paths to 10.14 didn't address the root issue. See [this stack overflow answer](https://stackoverflow.com/questions/52514791/after-upgrading-to-macos-mojave-gem-update-is-failing#answer-52624622).

Running this resolved it for me:
`$ sudo installer -pkg /Library/Developer/CommandLineTools/Packages/macOS_S

[2018-10-17 23:29] jessereynolds commented on #178
On MacOS Mojave  without XCode installed (only the command line tools) this got nokogiri installed for me:

[code]

[2018-11-09 20:12] #202 closed

[2018-11-12 19:52] eudes commented on #76
👍

[2018-11-26 05:55] jaswinder97 commented on #178
I have to kill all bundler services to make it work for `bundle install` only without manually installing nokogiri. Sometimes activesupport depends on nokogiri and it could be broken with existing symlinks

[2019-03-06 15:57] togume opened #232 "Purpose of core `stage` command?"
Excited to try git reflow as a tool for our team. Quick question, someone found the `stage` command, but there's no information on it on the base README and the workflow help states `Merge and deploy a feature branch to a staging branch`.

How is the `stage` command supposed to be used? In our use case we'd thought about deploying the current feature branch to a staging environment and don't quite

[2019-03-06 16:52] nhance commented on #232
The goal of this is to merge the feature branch into staging and kick off the deploy from the command line. It's intent is that teams don't always have CD setup for staging so this lightweight command allows you to put some structure behind the staging process.

With git reflow philosophy, staging is a disposable branch, meaning it should be thought of as something that can be recreated at any tim

[2019-03-06 18:25] togume commented on #232
@nhance - great response. Thanks for taking the time to explain this. I'm going to close this issue because it's now comprehensive enough and available for anyone that takes the time to look for the `stage` command.

[2019-03-06 18:25] #232 closed

[2019-03-07 09:53] itsowi commented on #76
👍

[2019-03-07 15:50] mrcnk commented on #178
For Mojave this one also works (remember to change the SDK version):
[code]

[2019-05-02 14:18] togume opened #234 "Rebase when refreshing?"
Loving reflow - hands down the best branching tool out there.

We recently started using the refresh command to bring in the latest changes from remote and I realized that it’s doing a merge instead of a rebase. Especially in feature branches off of master, it feels like doing a rebase would be preferred in order to re apply all feature changes sequentially after any changes from the base branch.

[2019-05-15 17:04] togume commented on #234
Following up on my comment after thinking about this further. Rebasing is tricky in situations where you're collaborating because you change the history/commit ID of changes.

While not as clean, the current refresh is the "cleanest" way to do it without complicating things. Therefore, it's the documentation that seems to me to be incorrect in calling it a `rebase`.

[2019-05-15 17:04] #234 closed

[2019-09-12 07:59] abhishek77in commented on #193
I am having similar issue. No matter what I do I am not able to successfully setup the reflow again. The issue has existed for so long for me, I have given up on this twice.

I have tried to remove git-reflow from all my git config files, still I am unable to setup successfully.  I keep getting message that your GitHub account was already setup.

I have used git-reflow in past, this may be due to

[2019-09-17 12:19] codenamev commented on #193
I was able to re-produce this.  Fix incoming 😄

[2019-10-01 13:09] codenamev opened #237 "Add documention for GitReflow::Config"
This module has a few module functions we'll want to document:

- [x] [GitReflow::Config#add](https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/config.rb#L40)
- [x] [GitReflow::Config#get](https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/config.rb#L10)
- [x] [GitReflow::Config#set](https://github.com/reenhanced/gitreflow/blob/master/lib/git_reflow/config.rb#L22)

[2019-10-13 10:41] mehdihz commented on #178
With bundler when trying to install to vendor/bundle, I've followed this method:

`bundle config build.nokogiri --use-system-libraries --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/libxml2
bundle install --path vendor/bundle`

[2019-11-11 03:42] chongfai13 commented on #178
It works for me! Thanks bro

[2019-11-25 17:10] abhishek77in commented on #219
@codenamev Updated the gem and got reflow to work. Sorry about the late response, thanks a lot for looking into this.

[2019-12-26 22:13] abrahamtoledo commented on #76
I'll give it a shot :wink:

[2020-02-05 18:24] sangaline opened #239 "Deprecation warnings with Ruby 2.7.0"
Using gitreflow with Ruby 2.7.0 results in a very large number of deprecation warnings. Most of these come from the 0.9.2 release of faraday, but there are also a handful from gitreflow itself.

[code]

[2020-04-07 15:49] codenamev commented on #237
Fixed in #238

[2020-04-07 15:49] #237 closed

[2020-04-14 13:57] codenamev commented on #157
We're using Yardoc, and will monitor progress with inch-ci.

[2020-04-14 13:57] #157 closed

[2020-06-02 13:58] #193 closed

[2020-08-12 23:46] quanghiem commented on #76
👍

[2020-10-14 07:07] sesam opened #243 "Docs bug: Missing workflow image"
Under https://github.com/reenhanced/gitreflow#guiding-principles the image link is broken.

[2020-10-14 07:20] sesam commented on #180
The link above is stale; last version on that path in that repo was https://github.com/thoughtbot/guides/tree/d7e06ad3bf775b456d703537d34db6c33dc0222f/protocol/git and the guides have been reorganised ("to avoid duplicating content") so their git content is now under https://github.com/thoughtbot/guides/tree/master/git

[2020-12-23 17:52] codenamev commented on #239
Fixed in 774380f51645d5e5ddc063c0224eee67099aa529

[2020-12-23 17:52] #239 closed

[2021-02-04 14:45] Sergeyy2 commented on #196
a

[2021-02-07 03:16] mactive commented on #178
sudo gem install nokogiri -- --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX11.1.sdk/usr/include/libxml2/ --use-system-libraries

[2021-02-15 16:02] sangaline opened #247 "Undefined method 'colorize' for 'nil:NilClass' error when delivering"
Whenever I run `git reflow deliver`, I get the following error:

[code]

As you can see from the trace, I'm using the latest git-reflow version 0.9.4 with Ruby 2.7.

[2021-03-12 17:07] cezaraugusto opened #248 "gitreflow doesn't seem to work with 2FA on GitHub"
Hello there! I'm trying to use gitreflow w/ 2FA turned on, but getting an error after `git reflow setup`.

<details>
<summary>Stack trace</summary>

[code]
</details>

[2021-04-19 13:16] togume opened #250 "GitHub issue on `git reflow setup` --> 404"
Hello! I'm getting the following error when doing `git reflow setup` on a new machine:

[code]

How do I fix this or how can I help to get this working?

FYI that I'm using multi-factor auth.

[2021-04-19 15:45] togume commented on #250
Workaround: this is preventing the app from creating the Personal Access Token which is stored in `~/.gitconfig.reflow`. Therefore, a workaround is to manually add it to the file in order for this to work.

[2021-04-28 04:06] isaacegglestone commented on #250
Great @togume Where can I find the syntax  for adding the PAT manually to the config?

[2021-04-28 11:55] togume commented on #250
@isaacegglestone I didn't find it either and had to guess-hack it 🙈:

**~/.gitconfig.reflow**
[code]

[2021-04-30 12:48] togume opened #251 "Use GitHub PR Templates?"
How can the GitHub PR template be used? This is the latest on what they recommend, and what we use in our repo:
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository

I tried following a few commits that have been done over the years but could't figure it out 😭 (i.e. thishttps://github.com/reenhanced

[2021-05-23 23:32] vishalsaugat commented on #250
@togume I have followed the process as described by you. My .gitconfig.reflow looks like this

[code]

I am still getting the above error. After running `git reflow review main` or `git reflow setup`, it prompts me to enter username and password after running the command
FYI I am using the Apple M1 silicon ?

```Error - We were unable to authenticate with Github.```

[2021-05-24 17:46] togume commented on #250
@vishalsaugat I don't see anything weird, and those commands are working for me. So, silly question, but did you replace `<PAT>` with the actual personal access you generated from GitHub? https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token

[2021-05-25 00:09] vishalsaugat commented on #250
@togume Yes I did replace it with my personal access token generated from Github. Github has recently [changed the token format for PAT](https://github.blog/2021-04-05-behind-githubs-new-authentication-token-formats/) . I hope it's still compatible with the new one ?
Also, after configuring the PAT in `.gitconfig.reflow` , will it still prompt me for my username and password ?

[2021-05-25 11:36] togume commented on #250
@vishalsaugat I just tested by creating a new PAT and swapping it out in the `.gitconfig.reflow` and it worked as expected...

Hhrmmm... very weird.

No, once the PAT is configured and used, it will not prompt you for username and password. I'm also on an M1...

A few ideas:
* Could it be that you have a different home directory for reflow or git, so it's not finding the file?
* I'm using [asdf](h

[2021-05-26 05:02] vishalsaugat commented on #250
@togume I was able to resolve this. Looks like git_reflow was picking up `.gitconfig` file instead of `.gitconfig.reflow`. I changed the PAT in `.gitconfig` and it's working fine now. Thanks, your idea was helpful.

[2021-05-27 11:34] togume commented on #250
@vishalsaugat 👏 glad you got it resolved and happy I was able to help.

Ah, yeah - that would do it. The path in `.gitconfig` is important.

Leaving this open because it's still a workaround to the original issue.

[2021-10-07 13:26] codenamev commented on #248
A workaround was found for this in #250.  We'll be dropping support for generating access tokens from our CLI.  Feel free to track the progress of this in #250.

[2021-10-07 13:26] #248 closed

[2021-11-01 15:31] #251 closed

[2021-12-30 18:28] emersonxinay commented on #178
**Esto funciono para mi**
`sudo gem install nokogiri -- --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.13.sdk/usr/include/libxml2 --use-system-libraries`